.aljs-home-header {
    height: auto;
}

.aljs-header-container {
    padding: 8vw;
}

.aljs-section-icon {
    display: inline-block;
    max-height: 100%;
    max-width: 60px;
    height: auto;
    width: auto;
    position: absolute;
    left: 20px;
    top: -2px;
}

.aljs-screenshot {
    display: block;
    border: 1px solid #d8dde6;
}

.aljs-section-title {
    display: inline-block;
}

.aljs-section-icon + .aljs-section-title {
    position: relative;
    left: 80px;
}

pre {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    text-align: left;
    word-spacing: normal;
    font-weight: normal;
    white-space: pre-wrap;
    background-color: #eef1f6;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    padding: 1rem;
}

pre[type]:before {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background-color: #16325c;
    color: #fff;
    text-align: center;
    min-width: 100px;
    opacity: 0.5;
}

pre[type="html"]:before {
    content: 'HTML';
}

pre[type="js"]:before {
    content: 'JS';
}

pre[type="vf"]:before {
    content: 'VF';
}

pre .highlight {
    color: #ef7ead;
    font-weight: bold;
}

.aljs-pre-container + .aljs-pre-container {
    margin-top: 1rem;
}

#app {
    color: #5876a3;
}

a.aljs-home-link {
    color: #16325c;
}

.site-main-content {
    margin-top: inherit;
    margin-bottom: inherit;
}

.aljs-home-header:before {
    display: block;
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: no-repeat center center url(../images/home-hero-bg.jpg);
    background-size: cover;
    opacity: 0.25;
}

.site-resources--landing .grid-card {
    min-height: initial;
}

.ember-logo,
.jquery-logo {
    max-height: 50px;
    width: auto;
    margin-bottom: 30px;
}

.grid-card > img {
    max-height: 50px;
}

.jquery-logo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.aljs-home-header .slds-media__body {
    position: relative;
    z-index: 2;
}

.aljs-logo {
    max-width: 600px;
}

.aljs-icon {
    max-width: 18px;
    height: auto;
    display: inline-block;
    margin-right: 2px;
}

.slds-is-selected,
.slds-is-active {
    background-color: #f4f6f9;
}

#app .slds-is-selected:focus,
#app .slds-is-selected:hover,
#app .slds-is-active:focus,
#app .slds-is-active:hover {
    background-color: #eceff5;
}

#navigation a {
    color: #16325c;
}

@media only screen and (max-width: 1024px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 768px) {
    .aljs-header-container {
        padding: 12vw;
        padding-left: 0;
        padding-right: 0;
    }
    .aljs-site-content {
        padding: 0;
        padding-top: 0;
    }
    .aljs-site-content .aljs-site-content {
        padding: 2rem;
    }
    .aljs-section-icon {
        top: -15px;
        left: 0;
        max-height: 60px;
    }
    .site-masthead {
        min-height: 100px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .site-main-content {
        padding: 2rem;
        padding-bottom: 1rem;
    }
    .aljs-section-icon + .aljs-section-title {
        left: 60px;
    }
    .aljs-flavors {
        padding-top: 0;
        padding-bottom: 0;
    }
    .site-masthead .slds-button {
        display: block;
        margin: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 320px) {}