code[class*="language-"],
pre[class*="language-"] {
    color: black;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*="language-"] {
    position: relative;
    margin: .5em 0;
    box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
    border-left: 10px solid #358ccb;
    background-color: #fdfdfd;
    background-image: -webkit-linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
    background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
    background-size: 3em 3em;
    background-origin: content-box;
    overflow: visible;
    max-height: 30em
}

code[class*="language"] {
    max-height: inherit;
    height: 100%;
    padding: 0 1em;
    display: block;
    overflow: auto
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background-color: #fdfdfd;
    box-sizing: border-box;
    margin-bottom: 1em
}

:not(pre)>code[class*="language-"] {
    position: relative;
    padding: .2em;
    border-radius: 0.3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
    content: '';
    z-index: -2;
    display: block;
    position: absolute;
    bottom: 0.75em;
    left: 0.18em;
    width: 40%;
    height: 20%;
    box-shadow: 0px 13px 8px #979797;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg)
}

:not(pre)>code[class*="language-"]:after,
pre[class*="language-"]:after {
    right: 0.75em;
    left: auto;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg)
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7D8B99
}

.token.punctuation {
    color: #5F6364
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: #c92c2c
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #2f9c0a
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5)
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: #1990b8
}

.token.regex,
.token.important {
    color: #e90
}

.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5)
}

.token.important {
    font-weight: normal
}

.token.bold {
    font-weight: bold
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.namespace {
    opacity: .7
}

@media screen and (max-width: 767px) {
    pre[class*="language-"]:before,
    pre[class*="language-"]:after {
        bottom: 14px;
        box-shadow: none
    }
}

.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
    color: #e0d7d1
}

pre[class*="language-"].line-numbers {
    padding-left: 0
}

pre[class*="language-"].line-numbers code {
    padding-left: 3.8em
}

pre[class*="language-"].line-numbers .line-numbers-rows {
    left: 0
}

pre[class*="language-"][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0
}

pre[data-line] code {
    position: relative;
    padding-left: 4em
}

pre .line-highlight {
    margin-top: 0
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: rgba(153, 122, 102, 0.08);
    background: -webkit-linear-gradient(right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
    background: linear-gradient(to left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre
}

.line-highlight:before,
.line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 0.5em;
    background-color: rgba(153, 122, 102, 0.4);
    color: #f5f2f0;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px #fff
}

.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber
}

pre.line-numbers>code {
    position: relative
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows>span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right
}

.token a {
    color: inherit
}

html {
    line-height: 1.71429;
    color: #5876A3
}

body {
    overflow-x: hidden;
    font-size: 0.875rem
}

[class*="site-text-heading"],
p,
ul,
ol,
dl,
table {
    margin-bottom: 1rem
}

[class*="site-text-heading"]:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child {
    margin-bottom: 0
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0
}

[class*="site-text-heading"] {
    margin-top: 3rem;
    font-weight: 400;
    line-height: 1.25;
    color: #16325C
}

[class*="site-text-heading"]:first-child {
    margin-top: 0
}

.site-code--content+.slds-container--medium [class*="site-text-heading"]:first-child {
    margin-top: 3rem
}

.site-text-heading--large {
    font-size: 1.25rem
}

.site-text-heading--large .slds-select {
    font-size: 0.875rem
}

.site-text-heading--medium {
    font-size: 1.125rem
}

[class*="text-heading--label"],
.slds-max-medium-table--stacked-horizontal td:before {
    font-size: 0.75rem;
    text-transform: uppercase
}

.site-text-heading--label-weak-large {
    margin-bottom: 0;
    font-size: 0.875rem;
    letter-spacing: 0.0625rem
}

.grid-card .site-text-heading--label-weak-large {
    padding-top: 1rem
}

.site-text-heading--label,
thead .site-text-heading--label th {
    font-weight: 700
}

.site-text-heading--callout {
    color: #5C2FDA
}

.site-text-introduction {
    margin-bottom: 5rem;
    font-size: 1.125rem;
    font-weight: 300
}

.site-text-introduction+.site-text-introduction {
    margin-top: -1.5rem
}

.site-main-content ul:not(.slds-grid),
.site-design ul:not(.slds-grid),
.site-release-notes ul:not(.slds-grid) {
    margin-left: 1.5rem;
    list-style: disc
}

@media (min-width: 30em) {
    .site-main-content ul:not(.slds-grid),
    .site-design ul:not(.slds-grid),
    .site-release-notes ul:not(.slds-grid) {
        margin-left: 2rem
    }
}

@media (min-width: 48em) {
    .site-main-content ul:not(.slds-grid),
    .site-design ul:not(.slds-grid),
    .site-release-notes ul:not(.slds-grid) {
        margin-left: 3rem
    }
}

.site-main-content ol {
    margin-left: 1.5rem;
    list-style: decimal
}

@media (min-width: 30em) {
    .site-main-content ol {
        margin-left: 2rem
    }
}

@media (min-width: 48em) {
    .site-main-content ol {
        margin-left: 3rem
    }
}

.site-main-content .site-text-introduction:only-child {
    margin-bottom: 0
}

.site-main-content .slds-tabs--default__nav:not(.slds-grid) {
    margin-left: 0;
    list-style: none
}

.slds-no-row-hover:not(.slds-table--bordered) tr>th:first-child,
.slds-no-row-hover:not(.slds-table--bordered) tr>td:first-child {
    padding-left: 0
}

.slds-no-row-hover:not(.slds-table--bordered) tr>th:last-child,
.slds-no-row-hover:not(.slds-table--bordered) tr>td:last-child {
    padding-right: 0
}

.slds-tabs--default__nav {
    margin-bottom: 0
}

.site-hide {
    display: none
}

.site-nowrap {
    white-space: nowrap
}

.m-bottom--reset {
    margin-bottom: 0
}

.m-top--reset {
    margin-top: 0
}

.site-example--content {
    outline: 1px solid #d8dde6
}

.site-example--content.slds-tabs__content {
    padding: 0
}

iframe {
    border: 0;
    width: 100%
}

iframe[data-form-factor="mobile"] {
    width: 30rem
}

iframe[data-form-factor="tablet"] {
    width: 48rem
}

iframe[data-form-factor="desktop"] {
    min-width: 64rem
}

.site-definition {
    background-color: #ffffe0;
    border-bottom: 2px dotted #ffb75d;
    text-decoration: none;
    font-style: normal
}

code {
    white-space: nowrap;
    font-family: Consolas, Monaco, 'Andale Mono', monospace, monospace;
    color: black
}

th code {
    font-weight: 400
}

code[class*="language"] {
    overflow: visible;
    height: auto
}

pre[class*="language-"] {
    margin: 0;
    border: 0;
    padding: 0;
    background: #fff;
    max-height: none;
    box-shadow: none
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
    display: none
}

pre[class*="language-"] code {
    padding: 0
}

[data-key="design-tokens"] {
    color: purple
}

.site-code--content {
    margin-bottom: 1rem;
    border: 1px solid #d8dde6;
    padding: 0 1rem;
    background: #fff
}

.site-code--content.slds-scrollable--x::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

.site-code--content.slds-scrollable--x::-webkit-scrollbar:window-inactive {
    opacity: 0
}

.site-code--content.slds-scrollable--x::-webkit-scrollbar-thumb {
    background: #e0e5ee;
    border-radius: 0.5rem;
    box-shadow: #a8b7c7 0 0 0 1px inset
}

.site-code--content.slds-scrollable--x::-webkit-scrollbar-track {
    background: #a8b7c7
}

.site-code--content.slds-tabs__content {
    margin-top: -1px;
    padding: 1rem
}

.site-code--content .active,
.site-code--content .always-show pre {
    display: block
}

.slds-container--medium+.site-code--content {
    margin-top: 1rem
}

.site-code--content+.slds-container--medium p:first-child {
    padding-top: 1rem
}

@media (min-width: 48em) {
    #app>div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        min-height: 100vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (max-width: 47.9375em) {
    .site-content {
        padding: 2rem
    }
}

.container--buffer {
    padding: 1.5rem
}

@media (min-width: 64em) {
    .container--buffer {
        padding-left: 6rem
    }
}

.slds-col--padded {
    padding-right: 1.5rem;
    padding-left: 1.5rem
}

.slds-col--padded>.slds-grid {
    margin-right: -1.5rem;
    margin-left: -1.5rem
}

.site-banner {
    font-weight: 400;
    white-space: nowrap
}

.site-banner a {
    display: block;
    color: #16325c;
    padding: 1.5rem 2rem
}

.site-banner a:hover,
.site-banner a:focus {
    text-decoration: none;
    background-color: rgba(244, 246, 249, 0.5)
}

.site-banner a:active {
    background-color: rgba(244, 246, 249, 0.75)
}

.site-banner>a>span {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1;
    text-transform: lowercase
}

.site-banner>a>span:first-child {
    margin-right: 0.5rem
}

@media (min-width: 48em) {
    .site-banner {
        position: fixed;
        top: 0;
        border-right: 1px solid #d8dde6;
        width: 15rem;
        height: 6rem;
        text-align: left;
        z-index: 8000
    }
    .site-banner>a {
        padding-top: 0;
        padding-bottom: 0;
        height: 6rem;
        line-height: 6rem
    }
}

.site-logo {
    width: 3.9375rem;
    height: 2.75rem;
    text-indent: -9999em;
    background: url(../images/logo.svg) no-repeat
}

.site-skip-content a {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #eef1f6
}

@media (min-width: 48em) {
    .site-skip-content a {
        position: absolute;
        left: -9999em;
        margin-top: -2.125rem;
        width: 100%;
        background: none;
        padding-left: 6.4375rem
    }
    .site-skip-content a:focus {
        left: 0
    }
}

@media (min-width: 48em) {
    .site-main {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-left: 15rem;
        min-height: calc(100vh - 5.375rem)
    }
}

@media (min-width: 64em) {
    .site-main {
        min-height: calc(100vh - 3.125rem)
    }
}

.site-navigation {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.site-navigation a {
    display: block;
    padding: 0.75rem 2rem;
    line-height: 1.28571428571429;
    color: #16325c
}

.site-navigation a:hover {
    background-color: rgba(244, 246, 249, 0.5)
}

.site-navigation .slds-is-open {
    padding-bottom: 0.5rem
}

.site-navigation .is-closed ul {
    display: none
}

.site-navigation .slds-is-selected {
    background-color: #f4f6f9
}

.site-navigation .slds-is-selected a:hover {
    background-color: #eceff5
}

.site-navigation .is-active>a {
    color: #0070d2
}

.site-navigation .slds-is-nested {
    margin-left: 0
}

.site-navigation .slds-is-nested a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.5rem
}

.site-navigation .slds-is-nested .slds-is-nested a {
    padding-left: 5rem
}

.site-navigation>ul .icon__svg {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    opacity: .5
}

.site-navigation>ul .slds-is-selected>a .icon__svg {
    opacity: 1
}

@media (min-width: 48em) {
    .site-navigation {
        position: fixed;
        top: 6rem;
        bottom: 0;
        border-right: 1px solid #d8dde6;
        padding-top: 0;
        width: 15rem;
        overflow: hidden;
        overflow-y: auto
    }
    .site-navigation::-webkit-scrollbar {
        width: 10px;
        height: 10px
    }
    .site-navigation::-webkit-scrollbar:window-inactive {
        opacity: 0
    }
    .site-navigation::-webkit-scrollbar-thumb {
        background: #e0e5ee;
        border-radius: 0.5rem;
        box-shadow: #a8b7c7 0 0 0 1px inset
    }
    .site-navigation::-webkit-scrollbar-track {
        background: #a8b7c7
    }
}

.site-masthead {
    padding: 1rem 2rem;
    background: #224C5E;
    color: #fff
}

.site-masthead.aljs-home-header {
    padding: 1rem 2rem;
    background: linear-gradient(135deg,rgb(105,159,126) 0,rgb(23, 66, 92) 75%);
    color: #fff
}

.site-masthead .slds-breadcrumb a:link,
.site-masthead .slds-breadcrumb a:visited {
    color: #A8B8D0
}

.site-masthead .slds-breadcrumb a:hover,
.site-masthead .slds-breadcrumb a:focus {
    color: rgba(255, 255, 255, 0.75)
}

.site-masthead .slds-breadcrumb a:active {
    color: rgba(255, 255, 255, 0.5)
}

.site-masthead h1 {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.25
}

@media (max-width: 768px) {
    .site-navigation {
        margin-top: 0;
        border-top: 1px solid #d8dde6;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (max-width: 47.9375em) {
    .site-masthead {
        display: block
    }
    .site-masthead .slds-media__figure {
        display: none
    }
    .site-masthead-title {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none
    }
    .site-masthead-actions {
        padding-top: 1rem
    }
}

@media (min-width: 48em) {
    .site-masthead .slds-media__figure {
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center
    }
    .site-masthead-actions {
        padding-left: 2rem
    }
}

@media (min-width: 64em) {
    .site-masthead {
        height: 11.25rem
    }
    .site-masthead h1 {
        font-size: 3rem
    }
}

.site-tools {
    border-bottom: 1px solid #f4f6f9;
    padding: 0 2rem;
    background: #fff
}

@media (max-width: 47.9375em) {
    .site-tools {
        padding-top: 0.5rem
    }
}

.site-tools .slds-tabs__nav {
    margin-bottom: -1px;
    border-bottom-color: #f4f6f9
}

.site-jump-anchor {
    position: absolute;
    top: -6rem
}

.site-jump-anchor__container {
    position: relative
}

.site-menu--jump-links {
    line-height: 1.25
}

.site-menu--jump-links .site-text-heading--label {
    padding-bottom: 0.5rem
}

.site-menu--jump-links a {
    margin: 0 -1rem;
    padding: 0.5rem 1rem
}

@media (max-width: 63.9375em) {
    .site-menu--jump-links {
        margin-bottom: 3rem;
        border-bottom: 1px solid #f4f6f9;
        padding-bottom: 3rem
    }
}

.sticky {
    position: static
}

.sticky--fixed {
    position: fixed;
    top: 0;
    z-index: 7000
}

.sticky__placeholder {
    display: none
}

.sticky__placeholder--on {
    display: block
}

.site-text-longform .has-border-bottom {
    margin-bottom: 1rem;
    border-bottom: 1px solid #f4f6f9;
    padding-bottom: 1rem
}

.framed-image {
    margin-bottom: 1rem;
    border: 1px solid #d8dde6;
    padding: 0.5rem
}

.resources-illustration {
    display: block;
    margin: 1.5rem auto;
    width: 80%;
    max-width: 20rem
}

@media (max-width: 63.9375em) {
    .sticky--fixed {
        position: static
    }
    .sticky__placeholder--on {
        display: none
    }
}

@media (min-width: 64em) {
    .site-main-content,
    .site-menu--jump-links {
        margin-top: -3rem;
        margin-bottom: -3rem;
        padding-top: 3rem
    }
    .site-menu--jump-links {
        margin-right: -3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        padding-left: 3rem
    }
    .site-main-content {
        padding-right: 3rem;
        padding-bottom: 6rem
    }
}

.site-contentinfo {
    padding: 1rem;
    background: rgba(238, 241, 246, 0.3)
}

.site-contentinfo a {
    color: #16325c
}

.site-contentinfo a:hover,
.site-contentinfo a:focus {
    background-color: rgba(238, 241, 246, 0.5)
}

.site-contentinfo a:active {
    background-color: #cdd6e4
}

@media (min-width: 48em) {
    .site-contentinfo {
        margin-left: 15rem
    }
}

@media (min-width: 64em) {
    .site-contentinfo p {
        margin-bottom: 0
    }
    .site-contentinfo .slds-col--padded:last-child {
        text-align: right
    }
}

.site-name {
    text-transform: lowercase
}

.site-social-twitter,
.site-social-dribbble,
.site-social-github {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    display: inline-block;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999em;
    vertical-align: middle
}

.site-social-twitter {
    background-image: url(../images/social-twitter.svg)
}

.site-social-dribbble {
    background-image: url(../images/social-dribbble.svg)
}

.site-social-github {
    margin-right: 0;
    background-image: url(../images/social-github.svg)
}

.site-settings .slds-modal__header {
    background-color: #16325c
}

.site-settings .site-text-heading--large {
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
    color: #fff
}

.site-settings hr {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.app-demo::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

.app-demo::-webkit-scrollbar:window-inactive {
    opacity: 0
}

.app-demo::-webkit-scrollbar-thumb {
    background: #9faab5;
    border-radius: 0.5rem;
    box-shadow: #eef1f6 0 0 0 1px inset
}

.app-demo::-webkit-scrollbar-track {
    background: #eef1f6
}

.app-demo .site-logo {
    display: inline-block;
    background-position: center center;
    background-size: 100% 3.25rem
}

.app-demo .version-number {
    display: none
}

@media (min-width: 48em) {
    .app-demo .version-number {
        display: inline-block
    }
}

.app-demo .header {
    position: fixed;
    width: 100%;
    height: 3.75rem;
    z-index: 2;
    background: #fff;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07)
}

.app-demo .stage-left {
    position: fixed;
    left: 0;
    height: 100%;
    width: 15rem;
    overflow-y: auto;
    padding-top: 4.75rem;
    z-index: 1;
    background: #16325c;
    color: white
}

.app-demo .stage-left .slds-list__item {
    margin: 0 0.5rem
}

.app-demo .stage-left a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.25rem
}

.app-demo .stage-left a:hover,
.app-demo .stage-left a:focus {
    background: #061c3f
}

.app-demo .stage {
    padding-left: 15rem;
    padding-top: 3.75rem;
    overflow: hidden
}

.app-demo .stage-main {
    overflow-x: hidden;
    overflow-y: auto
}

.app-demo .region--top {
    background: #f4f6f9
}

.app-demo .region--main {
    padding: 1rem;
    background: #fff;
    min-width: 564px;
    overflow-x: hidden;
    overflow-y: auto
}

.app-demo .region--sidebar {
    padding: 1rem;
    box-shadow: #d8dde6 1px 0 0 inset;
    width: 380px
}

.site-landing-page {
    background: url(/assets/images/landing/bg-landing-hero.svg) no-repeat -1px top, url(/assets/images/landing/bg-landing-footer.svg) no-repeat -1px bottom;
    background-size: auto 35rem;
    padding-left: 0;
    padding-right: 0
}

@media (max-width: 47.9375em) {
    .site-landing-page {
        background-size: auto 22.5rem
    }
}

.site-masthead--landing {
    color: #fff;
    margin-top: -3rem;
    padding-bottom: 9rem
}

.site-masthead--landing a:not(.slds-button--neutral) {
    color: #fff;
    text-decoration: underline
}

.site-masthead--landing a:not(.slds-button--neutral):link,
.site-masthead--landing a:not(.slds-button--neutral):visited {
    color: #fff
}

.site-masthead--landing a:not(.slds-button--neutral):hover,
.site-masthead--landing a:not(.slds-button--neutral):focus {
    color: rgba(255, 255, 255, 0.75)
}

.site-masthead--landing a:not(.slds-button--neutral):active {
    color: rgba(255, 255, 255, 0.5)
}

.site-masthead--landing a:not(.slds-button--neutral)[disabled] {
    color: rgba(255, 255, 255, 0.15)
}

@media (min-width: 48em) {
    .site-masthead--landing {
        padding-top: 2rem;
        padding-bottom: 22rem
    }
}

.site-masthead--landing .slds-button {
    border: none
}

.site-masthead--landing .site-text-heading--large,
.site-masthead--landing .site-text-heading--medium {
    color: inherit
}

.site-masthead--landing .site-text-heading--large {
    font-size: 2rem;
    font-weight: 300
}

@media (min-width: 20em) {
    .site-masthead--landing .site-text-heading--large {
        font-size: 2.5rem
    }
}

@media (min-width: 30em) {
    .site-masthead--landing .site-text-heading--large {
        font-size: 3rem
    }
}

@media (min-width: 48em) {
    .site-masthead--landing .site-text-heading--large {
        max-width: 34.5rem;
        font-size: 4.8rem
    }
}

.site-masthead--landing .site-text-heading--medium {
    margin-top: 0;
    margin-bottom: 3rem
}

.site-grid--landing {
    margin-top: -9rem
}

.site-grid--landing .site-text-heading--large {
    font-size: 1.5rem
}

@media (min-width: 48em) {
    .site-grid--landing {
        margin-top: -12rem
    }
}

@media (min-width: 64em) {
    .site-grid--landing .grid-card {
        min-height: 28.75rem
    }
}

.site-grid--landing-primary li>p {
    text-align: center
}

@media (max-width: 47.9375em) {
    .site-grid--landing-primary li>p {
        margin-bottom: 2rem
    }
}

@media (min-width: 48em) {
    .site-grid--landing-primary li:nth-child(odd)>dl {
        padding-right: 3rem
    }
    .site-grid--landing-primary li:nth-child(odd)>p {
        text-align: right
    }
    .site-grid--landing-primary li:nth-child(even)>dl {
        padding-left: 3rem
    }
    .site-grid--landing-primary li:nth-child(even)>p {
        text-align: left
    }
}

.site-resources--landing {
    background-repeat: no-repeat
}

@media (min-width: 48em) {
    .site-resources--landing {
        margin-bottom: -3rem;
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}

.site-resources--landing .grid-card {
    padding: 2rem;
    min-height: 16.25rem
}

@media (min-width: 48em) {
    .site-resources--landing .grid-card {
        text-align: left
    }
}

.site-resources--landing .grid-card .site-text-heading--label {
    margin: 0
}

.site-resources--landing .grid-card .hr {
    margin: 0.75rem 0;
    width: 100%
}

.hr {
    width: 50%;
    height: 1px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15rem
}

.hr--green {
    background-color: #9CE8BC;
    background-image: -webkit-linear-gradient(left, rgba(156, 232, 188, 0), #48916C);
    background-image: linear-gradient(to right, rgba(156, 232, 188, 0), #48916C)
}

.hr--orange {
    background-color: #FFCA73;
    background-image: -webkit-linear-gradient(left, rgba(255, 202, 115, 0), #D67B03);
    background-image: linear-gradient(to right, rgba(255, 202, 115, 0), #D67B03)
}

.hr--purple {
    background-color: #CCD0FF;
    background-image: -webkit-linear-gradient(left, rgba(204, 208, 255, 0), #696CB4);
    background-image: linear-gradient(to right, rgba(204, 208, 255, 0), #696CB4)
}

.hr--blue {
    background-color: #73BEFF;
    background-image: -webkit-linear-gradient(left, rgba(115, 190, 255, 0), #2196ED);
    background-image: linear-gradient(to right, rgba(115, 190, 255, 0), #2196ED)
}

.hr--turquoise {
    background-color: #2ECBBE;
    background-image: -webkit-linear-gradient(left, rgba(46, 203, 190, 0), #2EA193);
    background-image: linear-gradient(to right, rgba(46, 203, 190, 0), #2EA193)
}

.hr--pink {
    background-color: #FA9FBB;
    background-image: -webkit-linear-gradient(left, rgba(250, 159, 187, 0), #BF4C76);
    background-image: linear-gradient(to right, rgba(250, 159, 187, 0), #BF4C76)
}

.hr--dark-blue {
    background-color: #284F8A;
    background-image: -webkit-linear-gradient(left, rgba(40, 79, 138, 0), #16325c);
    background-image: linear-gradient(to right, rgba(40, 79, 138, 0), #16325c)
}

.site-shapes {
    display: none
}

@media (min-width: 64em) {
    .site-shapes {
        display: block;
        opacity: 0;
        -webkit-transition: opacity 0.8s linear;
        transition: opacity 0.8s linear
    }
}

@media (min-device-width: 760px) and (max-device-width: 1024px) and (orientation: landscape) {
    .site-shapes {
        display: none
    }
}

.site-shapes--on {
    opacity: 1
}

@media (max-width: 19.9375em) {
    .site-cta-buttons .slds-button {
        width: 100%
    }
}

@media (max-width: 29.9375em) {
    .site-cta-buttons .slds-button {
        margin: 0 0 1.5rem;
        display: block;
        width: 75%
    }
    .site-cta-buttons .site-cta-tutorial {
        display: none
    }
}

.text-no-wrap {
    white-space: nowrap;
    display: block
}

@-webkit-keyframes floater {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    25% {
        -webkit-transform: translate3d(0, -10px, 0) rotate(5deg);
        transform: translate3d(0, -10px, 0) rotate(5deg)
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0) rotate(-5deg);
        transform: translate3d(0, 10px, 0) rotate(-5deg)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
}

@keyframes floater {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    25% {
        -webkit-transform: translate3d(0, -10px, 0) rotate(5deg);
        transform: translate3d(0, -10px, 0) rotate(5deg)
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0) rotate(-5deg);
        transform: translate3d(0, 10px, 0) rotate(-5deg)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
}

@-webkit-keyframes floater-1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0) rotate(5deg);
        transform: translate3d(0, 10px, 0) rotate(5deg)
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0) rotate(-5deg);
        transform: translate3d(0, -10px, 0) rotate(-5deg)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
}

@keyframes floater-1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0) rotate(5deg);
        transform: translate3d(0, 10px, 0) rotate(5deg)
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0) rotate(-5deg);
        transform: translate3d(0, -10px, 0) rotate(-5deg)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
}

@-webkit-keyframes floater-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    25% {
        -webkit-transform: translate3d(0, 15px, 0) rotate(10deg);
        transform: translate3d(0, 15px, 0) rotate(10deg)
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    75% {
        -webkit-transform: translate3d(0, -15px, 0) rotate(-5deg);
        transform: translate3d(0, -15px, 0) rotate(-5deg)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
}

@keyframes floater-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    25% {
        -webkit-transform: translate3d(0, 15px, 0) rotate(10deg);
        transform: translate3d(0, 15px, 0) rotate(10deg)
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
    75% {
        -webkit-transform: translate3d(0, -15px, 0) rotate(-5deg);
        transform: translate3d(0, -15px, 0) rotate(-5deg)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) rotate(0);
        transform: translate3d(0, 0, 0) rotate(0)
    }
}

.template-demo {
    text-align: center
}

.template-demo--disabled img {
    -webkit-filter: grayscale(0.9);
    filter: grayscale(0.9)
}

.demo-visibility-chart .visible,
.demo-visibility-chart .hidden,
.demo-visibility-chart .initial {
    text-align: center
}

.demo-visibility-chart .visible {
    background: #4bca81;
    color: #fff
}

.demo-visibility-chart .hidden {
    color: #54698d;
    opacity: .5
}

.site-tokens code {
    padding: 0;
    background: none;
    white-space: normal
}

.site-example-color-text {
    padding: 0.25rem;
    font-size: 1.5rem;
    line-height: 1
}

.site-example-color-text figure {
    position: relative;
    cursor: help
}

.site-example-color-text figure+figure {
    font-size: 0.875rem;
    line-height: 1.5
}

.site-example-color-text td {
    padding: 0.5rem 1rem
}

.site-example-color-background {
    background-color: #f4f6f9
}

.site-example-color-background-alt {
    background-color: #fff
}

.site-example-color-background-inverse {
    background-color: #061c3f
}

.site-indicator-pass,
.site-indicator-fail {
    position: absolute;
    top: 0.5rem;
    right: -0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    overflow: hidden;
    text-align: left;
    text-indent: -9999em;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms
}

.site-indicator-pass {
    background-image: url("pass.svg")
}

.site-indicator-fail {
    background-image: url("fail.svg");
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.site-box-color-border,
.site-box-spacing,
.site-box-spacing-x-small,
.site-box-spacing-medium,
.site-box-radius,
.site-box-shadow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle
}

.site-box-color-border {
    border-width: 2px;
    border-style: solid
}

.site-box-spacing,
.site-box-spacing-x-small,
.site-box-spacing-medium,
.site-box-radius {
    background: #16325c
}

.site-box-spacing,
.site-box-spacing-x-small,
.site-box-spacing-medium {
    max-width: 100%
}

.site-atmosphere {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    background-color: white
}

.site-token__generic-size {
    position: relative
}

.site-token__generic-size .site-property-value {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.site-token__generic-size .site-property-value:before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    border-right: .5rem solid transparent;
    border-bottom: 0.5rem solid #fff;
    border-left: .5rem solid transparent;
    -webkit-transform: translate(-50%, -300%);
    -ms-transform: translate(-50%, -300%);
    transform: translate(-50%, -300%)
}

.site-token__generic-size .site-property-value:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    border-top: 0.5rem solid #fff;
    border-right: .5rem solid transparent;
    border-left: .5rem solid transparent;
    -webkit-transform: translate(-50%, 200%);
    -ms-transform: translate(-50%, 200%);
    transform: translate(-50%, 200%)
}

@media (min-width: 48em) {
    .site-example-atmosphere,
    .site-example-color-text,
    .site-example-color-border,
    .site-example-font-size,
    .site-example-spacing,
    .site-example-radius,
    .site-example-shadow {
        vertical-align: middle
    }
}

.site-example-color-text-inverse {
    background: #061c3f
}

.site-spec-legend dt {
    width: 1rem;
    text-align: center
}

.site-spec-legend dt,
.site-spec-legend dd {
    display: inline-block;
    vertical-align: middle
}

.site-spec-legend dd {
    padding-left: 0.5rem;
    margin: 0 0 0 -4px
}

.site-example-spec {
    margin: 1rem 0;
    position: relative
}

.site-example-spec-container {
    background: rgba(0, 0, 0, 0.0625);
    padding: 1rem
}

.site-example-spec-container.slds-cell {
    padding: 0.5rem
}

.site-example-spec-container.slds-cell:first-child {
    margin-right: 1rem
}

.site-example-spec-container .site-example-spec-container .site-example-spec-container {
    padding: 0
}

.site-example-spec .site-box-spacing,
.site-example-spec .site-box-spacing-x-small,
.site-example-spec .site-box-spacing-medium {
    position: absolute
}

.site-box-spacing-x-small {
    width: 0.5rem;
    height: 0.5rem;
    background-color: red
}

.site-box-spacing-medium {
    width: 1rem;
    height: 1rem;
    background-color: orange
}

.ruled .site-example-spec-container.slds-cell:first-child {
    position: relative;
    margin-right: 2rem
}

.ruled .site-example-spec-container.slds-cell:first-child:after {
    position: absolute;
    top: 0;
    right: -1rem;
    bottom: 0;
    border-right: 1px solid yellow;
    content: " "
}

.site-tokens thead th {
    border-bottom: 1px solid #d8dde6
}

@media (min-width: 48em) {
    .site-tokens tr>td:first-child {
        width: 30%
    }
}

.site-tokens td {
    font-size: 0.75rem
}

@media (min-width: 48em) {
    .site-tokens td {
        width: 20%
    }
}

.site-tokens td.token--empty>div:before {
    margin: 0.25rem 0;
    display: block;
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-style: italic;
    background: #f4f6f9;
    color: #54698d;
    content: "Same as Previous Form Factor"
}

.site-tokens.background-color td.token>div {
    height: 2rem;
    box-shadow: #fff 0 1px 0 inset, #fff 0 -1px 0 inset;
    border-top: 1px solid #d8dde6;
    border-bottom: 1px solid #d8dde6;
    border-left: 1px solid #d8dde6
}

@media (max-width: 29.9375em) {
    .site-tokens.background-color td.token>div {
        border: 1px solid #d8dde6;
        box-shadow: #fff 0 0 0 1px inset
    }
    .site-tokens.background-color td.token code {
        display: block;
        clear: both
    }
    .site-tokens.background-color tr>td:first-child {
        border-top: 1px solid #d8dde6
    }
}

@media (min-width: 48em) {
    .site-tokens.background-color td.token {
        vertical-align: top;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem
    }
    .site-tokens.background-color td.token code {
        display: inline-block;
        padding: 0.25rem 0
    }
    .site-tokens.background-color tr>td:first-child ~ td[data-label="small"]>div {
        box-shadow: #fff 0 1px 0 inset, #fff 0 -1px 0 inset, #fff 1px 0 0 inset;
        border-left: 1px solid #d8dde6;
        border-radius: 0.25rem 0 0 0.25rem
    }
    .site-tokens.background-color tr>td:first-child ~ td:last-child>div {
        box-shadow: #fff 0 1px 0 inset, #fff 0 -1px 0 inset, #fff -1px 0 0 inset;
        border-right: 1px solid #d8dde6;
        border-radius: 0 0.25rem 0.25rem 0
    }
}

.atmosphere-graph {
    position: relative;
    height: 27rem;
    background: #fff
}

.atmosphere-hlabel {
    position: absolute;
    left: -1rem;
    -webkit-transform: translateX(5.25rem);
    -ms-transform: translateX(5.25rem);
    transform: translateX(5.25rem);
    font-size: 0.75rem
}

.atmosphere-hlabel span {
    position: absolute;
    top: -0.6rem;
    right: 1rem
}

.atmosphere-hlabel .atmosphere-hline {
    left: .5rem;
    width: 2.5rem
}

.atmosphere-hline {
    position: absolute;
    left: 5.5rem;
    width: .5rem;
    border-top: 1px solid #d8dde6;
    -webkit-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    transform: translateX(-1rem)
}

.atmosphere-0-line {
    left: 0;
    right: 0;
    width: auto;
    border-top: 1px solid #a8b7c7
}

.atmosphere-vertical-ruler {
    position: absolute;
    top: 0;
    left: 5rem;
    bottom: 0;
    border-left: 2px solid #d8dde6
}

.elevation-dot {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #1589ee;
    color: #fff;
    border-radius: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%)
}

@media (min-width: 48em) {
    .elevation-dot {
        width: 4rem;
        height: 4rem
    }
}

.elevation-dot span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.elevation-dot-flying {
    bottom: 23rem;
    left: 90%;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.16)
}

.elevation-dot-floating {
    bottom: 11rem;
    left: 75%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16)
}

.elevation-dot-raised {
    bottom: 9rem;
    left: 60%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16)
}

.elevation-dot-grounded {
    bottom: 7rem;
    left: 45%;
    box-shadow: none
}

.elevation-dot-sunken {
    bottom: 4rem;
    left: 30%;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.16)
}

.site-example-tile__frame {
    position: relative;
    background-color: #fff;
    padding-top: 9rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    background: #fff;
    border-radius: 0.25rem;
    border: 1px solid #d8dde6;
    color: #5876A3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.site-example-tile__frame .hr {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}

.site-example-tile__object {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #16325c;
    color: #fff;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
    margin-top: -3rem
}

.site-example-tile__object span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.125rem
}

.site-example-tile__title {
    color: #16325C
}

.site-example-tile__title button {
    background: transparent;
    border: 0
}

.color-example {
    -webkit-transition: 0.2s background-color linear;
    transition: 0.2s background-color linear
}

.color-example span {
    -webkit-transition: 0.2s color linear;
    transition: 0.2s color linear
}

.color-example--on {
    background-color: #1589ee
}

.color-example--on span {
    color: #fff
}

.elevation-example {
    height: 9rem;
    position: relative
}

.elevation-example:after {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #f2cf5b;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.fade-example {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear
}

.fade-example--on {
    opacity: 0
}

.fall-example {
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.16)
}

.fall-example--on {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.8);
    transform: translate3d(-50%, -50%, 0) scale(0.8);
    box-shadow: none
}

.flip-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s transform ease-in-out
}

.flip-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) rotateY(180deg);
    transform: translate3d(-50%, -50%, 0) rotateY(180deg)
}

.grow-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s transform ease-in-out
}

.grow-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.1);
    transform: translate3d(-50%, -50%, 0) scale(1.1)
}

.jiggle-example--on {
    -webkit-animation: site-mass-jiggle-keyframes 0.4s forwards;
    animation: site-mass-jiggle-keyframes 0.4s forwards
}

.lower-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out, 0.2s box-shadow ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s box-shadow ease-in-out;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.16)
}

.lower-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.9);
    transform: translate3d(-50%, -50%, 0) scale(0.9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16)
}

.pop-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out, 0.2s box-shadow ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s box-shadow ease-in-out;
    box-shadow: none
}

.pop-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.1);
    transform: translate3d(-50%, -50%, 0) scale(1.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16)
}

.punch-example {
    -webkit-transition: 0.2s box-shadow ease-in-out;
    transition: 0.2s box-shadow ease-in-out;
    box-shadow: none
}

.punch-example span {
    -webkit-transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s transform ease-in-out
}

.punch-example--on {
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.16)
}

.punch-example--on span {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.95);
    transform: translate3d(-50%, -50%, 0) scale(0.95)
}

.raise-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out, 0.2s box-shadow ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s box-shadow ease-in-out;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16)
}

.raise-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.1);
    transform: translate3d(-50%, -50%, 0) scale(1.1);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.16)
}

.roll-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out, 0.2s box-shadow ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s box-shadow ease-in-out
}

.roll-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) rotateX(180deg);
    transform: translate3d(-50%, -50%, 0) rotateX(180deg);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.16)
}

.shake-example--on {
    -webkit-animation: site-mass-shake-keyframes 0.4s forwards;
    animation: site-mass-shake-keyframes 0.4s forwards
}

.shrink-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s transform ease-in-out
}

.shrink-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.9);
    transform: translate3d(-50%, -50%, 0) scale(0.9)
}

.slide-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out, 0.2s opacity ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s opacity ease-in-out
}

.slide-example--on {
    -webkit-transform: translate3d(-25%, -50%, 0);
    transform: translate3d(-25%, -50%, 0);
    opacity: 0
}

.spin-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out, 0.2s box-shadow ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s box-shadow ease-in-out
}

.spin-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(180deg);
    transform: translate3d(-50%, -50%, 0) rotate(180deg);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.16)
}

.tilt-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out, 0.2s box-shadow ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s box-shadow ease-in-out
}

.tilt-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) rotateX(30deg);
    transform: translate3d(-50%, -50%, 0) rotateX(30deg);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.16)
}

.twist-example {
    -webkit-transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s transform ease-in-out
}

.twist-example--on {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(25deg);
    transform: translate3d(-50%, -50%, 0) rotate(25deg)
}

@-webkit-keyframes site-mass-jiggle-keyframes {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    20% {
        -webkit-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%)
    }
    40% {
        -webkit-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%)
    }
    60% {
        -webkit-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%)
    }
    80% {
        -webkit-transform: translate(-50%, -48%);
        transform: translate(-50%, -48%)
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@keyframes site-mass-jiggle-keyframes {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    20% {
        -webkit-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%)
    }
    40% {
        -webkit-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%)
    }
    60% {
        -webkit-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%)
    }
    80% {
        -webkit-transform: translate(-50%, -48%);
        transform: translate(-50%, -48%)
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@-webkit-keyframes site-mass-shake-keyframes {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    20% {
        -webkit-transform: translate(-55%, -50%);
        transform: translate(-55%, -50%)
    }
    40% {
        -webkit-transform: translate(-40%, -50%);
        transform: translate(-40%, -50%)
    }
    60% {
        -webkit-transform: translate(-55%, -50%);
        transform: translate(-55%, -50%)
    }
    80% {
        -webkit-transform: translate(-48%, -50%);
        transform: translate(-48%, -50%)
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@keyframes site-mass-shake-keyframes {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    20% {
        -webkit-transform: translate(-55%, -50%);
        transform: translate(-55%, -50%)
    }
    40% {
        -webkit-transform: translate(-40%, -50%);
        transform: translate(-40%, -50%)
    }
    60% {
        -webkit-transform: translate(-55%, -50%);
        transform: translate(-55%, -50%)
    }
    80% {
        -webkit-transform: translate(-48%, -50%);
        transform: translate(-48%, -50%)
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

.site-design .image,
.site-design .image:only-of-type {
    margin-top: 2rem;
    margin-bottom: 2rem
}

@media (max-width: 47.9375em) {
    .site-design figure {
        width: 100%;
        text-align: center
    }
}

@media (min-width: 48em) {
    .site-design .site-side-by-side>div {
        padding-right: 3rem
    }
}

@media (min-width: 48em) {
    .site-design .site-side-by-side--img-left>div {
        padding-right: 0;
        padding-left: 3rem
    }
}

.site-design .slds-text-heading--small,
.site-design strong {
    color: #5876A3
}

.site-design .site-diagram-section-list {
    position: relative
}

.site-design .site-diagram-section-list strong {
    color: #16325C
}

.site-design .site-diagram-section-list figure {
    margin-bottom: 3rem
}

@media (min-width: 64em) {
    .site-design .site-diagram-section-list figure {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }
}

@media (min-width: 64em) {
    .site-design .site-diagram-section-top:before,
    .site-design .site-diagram-section-middle:before,
    .site-design .site-diagram-section-bottom:before {
        content: '';
        position: absolute
    }
}

@media (min-width: 64em) {
    .site-design .site-diagram-section-middle {
        position: absolute;
        padding-left: 3rem;
        right: 0;
        top: 250px
    }
    .site-design .site-diagram-section-middle:before {
        left: -100px;
        top: 0.875rem;
        height: 1px;
        width: 140px;
        background: #16325C
    }
}

@media (min-width: 64em) {
    .site-design .site-diagram-section-top,
    .site-design .site-diagram-section-bottom {
        padding-left: 40%
    }
}

@media (min-width: 64em) {
    .site-design .site-diagram-section-top:before {
        width: 120px;
        height: 160px;
        -webkit-transform: translate3d(-160px, 0.875rem, 0);
        transform: translate3d(-160px, 0.875rem, 0);
        border-radius: 50%/50% 0 0 0;
        border-top: 1px solid #16325C;
        border-left: 1px solid #16325C
    }
}

@media (min-width: 64em) {
    .site-design .site-diagram-section-bottom:before {
        width: 120px;
        height: 140px;
        -webkit-transform: translate3d(-160px, -125px, 0);
        transform: translate3d(-160px, -125px, 0);
        border-radius: 50%/0 0 0 50%;
        border-bottom: 1px solid #16325C;
        border-left: 1px solid #16325C
    }
}

.site-design .site-scale-example p {
    line-height: 1.5
}

@media (min-width: 48em) {
    .site-design-loading .image,
    .site-design-loading .image:only-of-type {
        margin-bottom: 0.75rem
    }
}

@media (min-width: 64em) {
    .site-design-loading .site-diagram-section-list ~ .site-diagram-section-list {
        margin: -250px 0 0 200px
    }
    .site-design-loading .site-diagram-section-middle {
        top: 100px
    }
}

.tutorial-image {
    border-radius: 0.25rem;
    border: 1px solid #d8dde6
}

.grid-card {
    padding: 3rem 0;
    margin-bottom: 3rem;
    background: #fff;
    border-radius: 0.25rem;
    border: 1px solid #d8dde6;
    color: #5876A3;
    text-align: center
}

@media (min-width: 48em) {
    .grid-card {
        min-height: 23.75rem
    }
}

.grid-card .site-text-heading--label {
    margin-top: 1.5rem;
    font-size: 0.75rem
}

.grid-card .hr {
    margin-top: 0.75rem
}

.grid-card>img {
    max-height: 8.75rem
}

.grid-card dl {
    margin-top: 2rem;
    padding: 0 1.5rem
}

.site-video-container {
    max-width: 640px;
    margin: 0 auto 3rem;
    border-radius: 0.25rem;
    overflow: hidden;
    padding: 0.75rem;
    border: 1px solid #d8dde6
}

.site-video {
    padding-bottom: 56.25%;
    position: relative
}

.site-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.site-fade-transition-enter {
    opacity: 0;
    margin-top: -2rem;
    -webkit-transition: opacity 0.2s linear, margin-top 0.2s linear;
    transition: opacity 0.2s linear, margin-top 0.2s linear
}

.site-fade-transition-enter-active {
    margin-top: 0;
    opacity: 1
}

.site-fade-transition-leave {
    opacity: 1;
    margin-top: 0;
    -webkit-transition: opacity 0.2s linear, margin-top 0.2s linear;
    transition: opacity 0.2s linear, margin-top 0.2s linear
}

.site-fade-transition-leave-active {
    margin-top: -2rem;
    opacity: 0
}

.site-theme--checker {
    background-color: #fff;
    background-image: -webkit-linear-gradient(45deg, rgba(244, 246, 249, 0.5) 25%, transparent 25%, transparent 75%, rgba(244, 246, 249, 0.5) 75%, rgba(244, 246, 249, 0.5)), linear-gradient(45deg, rgba(244, 246, 249, 0.5) 25%, transparent 25%, transparent 75%, rgba(244, 246, 249, 0.5) 75%, rgba(244, 246, 249, 0.5));
    background-image: linear-gradient(45deg, rgba(244, 246, 249, 0.5) 25%, transparent 25%, transparent 75%, rgba(244, 246, 249, 0.5) 75%, rgba(244, 246, 249, 0.5)), linear-gradient(45deg, rgba(244, 246, 249, 0.5) 25%, transparent 25%, transparent 75%, rgba(244, 246, 249, 0.5) 75%, rgba(244, 246, 249, 0.5));
    background-size: 1.5rem 1.5rem;
    background-position: 0 0, 0.75rem 0.75rem
}

.icon-group-title {
    text-transform: capitalize
}

.icon-grid .slds-col--padded {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 7.5rem;
    -ms-flex: 0 0 7.5rem;
    flex: 0 0 7.5rem;
    text-align: center
}

.icon-grid [class*="icon-utility"] {
    fill: #54698d;
    padding: 0.5rem
}

.icon__svg--default {
    background-color: #54698d
}

.action__icons .slds-icon__container {
    padding: 0.5rem
}