<div {{bind-attr class=":slds-popover positionClass"}}>
	<div class="slds-popover__content">
		<div class="slds-popover__header">
			<headerYield>
			</headerYield>
			
		</div>
		<div class="slds-popover__body">
			<bodyYield>
			</bodyYield>
		</div>
		{{yield}}
	</div>
</div>