<div class="slds-form--stacked">
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="date">Date Picker Label</label>
		<div class="slds-form-element__control">
			<div class="slds-input-has-icon slds-input-has-icon--right">
				<svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
					<use xlink:href="{{unbound sldsUrl}}/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
				</svg>
				<input id="date" class="slds-input" type="text" placeholder="Pick a Date" label="Date Picker Label" />
			</div>
		</div>
	</div>
</div>