<div class="site-example--content slds-scrollable--x slds-tabs__content slds-show" role="tabpanel">
    <div class="slds-p-horizontal--medium">
        <h4 class="site-text-heading--large">Include the <strong>jquery.aljs-init.min.js</strong> File</h4>
        <p class="slds-m-bottom--medium">To get started with ALJS, the provided init file must be included in your markup after jQuery and before any ALJS plugins. The purpose of this init file is establish common settings for each plugin to reference.</p>
{{#aljs-pre-container type="html"}}
<!-- jQuery & ALJS Init -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery.aljs-init.js"></script>

<!-- ALJS Plugins for the Page -->
<script src="js/jquery.aljs-datepicker.min.js"></script>
<script src="js/jquery.aljs-modal.min.js"></script>
<script src="js/jquery.aljs-pill.min.js"></script>
<script src="js/jquery.aljs-tooltip.min.js"></script>
{{/aljs-pre-container}}
        <h4 class="site-text-heading--large">Include the <strong>jquery.aljs-init.min.js</strong> File</h4>
    </div>
</div>