<div class="site-example--content slds-scrollable--x slds-tabs__content slds-show" role="tabpanel">
    <div class="slds-p-horizontal--medium">
        <h4 class="site-text-heading--large">Prerequisites</h4>
        <div class="slds-text-longform">
	        <p>ALJS Ember Components were built for internal use to add functionality to SLDS Components when developing with Visualforce and <a href="http://emberjs.com/">Ember.js</a>. To properly use and extend these components, we recommend implementing your Ember.js projects with the following guidelines:</p>
	        <ul>
	        	<li>
	        		<p>Use Ember v. 1.8.1 - We are currently researching how to use Ember 2.0 and ember-cli in Salesforce, but our current implementation makes use of the global namespace instead of ES6 modules.</p>
	        	<li>
	        		<p>Compile your JS and Template files locally using a process like <a href="http://gruntjs.com/">Grunt</a> or <a href="http://gulpjs.com/">Gulp</a> and Neuter <small><a href="https://www.npmjs.com/package/neuter">(Grunt)</a>/<a href="https://www.npmjs.com/package/gulp-neuter">(Gulp)</a></small></p>
	        	</li>
	        </ul>
        </div>
		<p class="slds-m-top--medium slds-m-bottom--medium">In your main JS file, after defining the global namespace for your app. Assign that variable to _AljsApp.</p>
{{#aljs-pre-container type="js"}}
App = Ember.Application.create({
_AljsApp = App;
{{/aljs-pre-container}}
		<p class="slds-m-top--medium slds-m-bottom--medium">In your main JS file or compiler file, use require to import the Aljs Ember initializer and any components you plan to use.</p>
{{#aljs-pre-container type="js"}}
require('ember.aljs-init');
require('ember.aljs-modal');
{{/aljs-pre-container}}
		<div class="slds-text-longform">
			<p class="slds-m-top--medium">It is also possible to copy and paste component code into your own application if you want to keep code in a single file, or modify the component for just that instance. Remember to copy and paste in the Aljs Ember initializer file as well.</p>
		</div>
    </div>
</div>