<div class="site-example--content slds-scrollable--x slds-tabs__content slds-show" role="tabpanel">
    <div class="slds-p-horizontal--medium">
{{#aljs-pre-container type="html"}}
<div>
    EMBER
</div>
{{/aljs-pre-container}}
{{#aljs-pre-container type="js"}}
falkfjalsf
{{/aljs-pre-container}}
    </div>
</div>