<div id="markup-1" class="site-example--content slds-m-bottom--xx-large slds-scrollable--x slds-tabs__content slds-show" role="tabpanel">
    <div class="slds-p-horizontal--medium">

{{#aljs-pre-container type="html"}}
<div>
    afasdsa
</div>
<highlight><div>
    afsaasassa
</div></highlight>
{{/aljs-pre-container}}
{{#aljs-pre-container type="js"}}
    falkfjalsf
{{/aljs-pre-container}}

    </div>
</div>