<div id="markup-1" class="site-example--content slds-scrollable--x slds-tabs__content slds-show" role="tabpanel">
    <div class="slds-p-horizontal--medium">

{{#aljs-pre-container type="html"}}
<div class="slds">
    <div class="slds-form-element">
        <div aria-expanded="true" class="slds-picklist" data-aljs="picklist" id="pl1">
            <button class="slds-button slds-button--neutral slds-picklist__label" aria-haspopup="true" id="test1">
                <span class="slds-truncate">Select an Option</span>
                <svg aria-hidden="true" class="slds-icon">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
            </button>
            <div class="slds-dropdown slds-dropdown--left slds-dropdown--small slds-dropdown--menu slds-hide">
                <ul class="slds-dropdown__list" role="menu">
                    <li id="menu-0-0" href="#" class="slds-dropdown__item slds-has-icon--left"><a href="#" class="slds-truncate" role="menuitemradio">Option One</a></li>
                    <li id="menu-1-1" href="#" class="slds-dropdown__item slds-has-icon--left"><a href="#" class="slds-truncate" role="menuitemradio">Option Two</a></li>
                    <li id="menu-2-2" href="#" class="slds-dropdown__item slds-has-icon--left"><a href="#" class="slds-truncate" role="menuitemradio">Option Three</a></li>
                    <li id="menu-3-3" href="#" class="slds-dropdown__item slds-has-icon--left"><a href="#" class="slds-truncate" role="menuitemradio">Option Four</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="slds-form-element">
        <div aria-expanded="true" class="slds-picklist" data-aljs="picklist" id="pl2">
            <button class="slds-button slds-button--neutral slds-picklist__label" aria-haspopup="true" id="test2">
                <span class="slds-truncate">Select an Option</span>
                <svg aria-hidden="true" class="slds-icon">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
            </button>
            <div class="slds-dropdown slds-dropdown--left slds-dropdown--small slds-dropdown--menu slds-hide">
                <ul class="slds-dropdown__list" role="menu">
                    <li id="menu-0-0" href="#" class="slds-dropdown__item slds-has-icon--left"><a href="#" class="slds-truncate" role="menuitemradio">Option One</a></li>
                    <li id="menu-1-1" href="#" class="slds-dropdown__item slds-has-icon--left"><a href="#" class="slds-truncate" role="menuitemradio">Option Two</a></li>
                    <li id="menu-2-2" href="#" class="slds-dropdown__item slds-has-icon--left"><a href="#" class="slds-truncate" role="menuitemradio">Option Three</a></li>
                    <li id="menu-3-3" href="#" class="slds-dropdown__item slds-has-icon--left"><a href="#" class="slds-truncate" role="menuitemradio">Option Four</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{/aljs-pre-container}}
        
{{#aljs-pre-container type="js"}}
$(document).ready(function() {
    $('[data-aljs="picklist"]').picklist({
        onChange: function(obj) {}
    });
});
{{/aljs-pre-container}}
        
        <h4 class="site-text-heading--large">Markup</h4>
        <p>This table gives you a quick overview of ALJS-specific markup applied to SLDS components.</p>
        <div class="slds-scrollable--x">
            <table class="slds-table slds-table--bordered slds-max-medium-table--stacked slds-no-row-hover slds-m-top--medium">
                <thead>
                    <tr class="site-text-heading--label">
                        <th scope="col">ALJS Markup</th>
                        <th scope="col">Outcome</th>
                        <th scope="col">Required</th>
                        <th scope="col">Applied to</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><code>data-aljs="picklist"</code></th>
                        <td data-label="Outcome">Provides a unique identifier for the plugin</td>
                        <td data-label="Required" class="slds-cell-shrink">
                            <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg><span class="slds-assistive-text">Required</span></td>
                        <td data-label="Applied to" class="slds-cell-shrink"><code>.slds-picklist</code></td>
                        <td data-label="Comments"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4 class="site-text-heading--large">Options</h4>
        <p>This table details the options available for the jQuery function.</p>
        <div class="slds-scrollable--x">
            <table class="slds-table slds-table--bordered slds-max-medium-table--stacked slds-no-row-hover slds-m-top--medium">
                <thead>
                    <tr class="site-text-heading--label">
                        <th scope="col">Option</th>
                        <th scope="col">Outcome</th>
                        <th scope="col">Required</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><code>data-aljs="picklist"</code></th>
                        <td data-label="Outcome">Provides a unique identifier for the plugin</td>
                        <td data-label="Required" class="slds-cell-shrink">
                            <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg><span class="slds-assistive-text">Required</span></td>
                        <td data-label="Applied to" class="slds-cell-shrink"><code>.slds-picklist</code></td>
                        <td data-label="Comments"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>