<div class="site-example--content slds-scrollable--x slds-tabs__content slds-show" role="tabpanel">
    <div class="slds-p-horizontal--medium">
        <h4 class="site-text-heading--large">Markup</h4>
        <p class="slds-m-top--medium">It is important to include the .</p>
{{#aljs-pre-container type="html"}}
&#123;&#123;#aljs-button class="slds-button--neutral" data-aljs-toggle="popover1"&#125;&#125;
    <div>Click for popover</div>
&#123;&#123;/aljs-button&#125;&#125;

&#123;&#123;#aljs-popover popoverId="popover1" position="right"&#125;&#125;
    <popoverHeader>
        <p class="slds-text-heading--small">Hi</p>
    </popoverHeader>
    <popoverBody>
        Sit nulla est ex deserunt exercitation anim occaecat. Nostrud <a href="#">ullamco</a> deserunt aute id consequat veniam incididunt duis in sint irure nisi.
    </popoverBody>
&#123;&#123;/aljs-popover&#125;&#125;
{{/aljs-pre-container}}
        <h4 class="site-text-heading--large">Attribute Bindings</h4>
        <p class="slds-m-top--medium">This table details the available attribute bindings for this Ember component.</p>
        <div class="slds-scrollable--x">
            <table class="slds-table slds-table--bordered slds-max-medium-table--stacked slds-no-row-hover slds-m-top--medium">
                <thead>
                    <tr class="site-text-heading--label">
                        <th scope="col">Attribute name</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Values</th>
                        <th scope="col">Default value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><code>selectedDate</code></th>
                        <td data-label="Purpose">Binds the selected date in the datepicker UI to a moment value.</td>
                        <td data-label="Values">A valid moment.js object</td>
                        <td data-label="Default value" class="slds-cell-shrink"><code>null</code></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>format</code></th>
                        <td data-label="Purpose">Specifies how dates will be displayed in the datepicker's input.</td>
                        <td data-label="Values">A valid date string (e.g. 'MM/DD/YYYY')</td>
                        <td data-label="Default value" class="slds-cell-shrink"><code>MM/DD/YYYY</code></td>
                    </tr>
                    <tr>
                        <th scope="row"><code>dayLabels</code></th>
                        <td data-label="Purpose">An optional array of objects defining labels for the calendar's days</td>
                        <td data-label="Values">[{full: '<i>full day label</i>', abbv: '<i>abbreviated day label</i>'},...]</td>
                        <td data-label="Default value" class="slds-cell-shrink">English full labels, empty abbreviation labels</td>
                    </tr>
                    <tr>
                        <th scope="row"><code>monthLabels</code></th>
                        <td data-label="Purpose">An optional array of objects defining labels for the calendar's months</td>
                        <td data-label="Values">[{full: '<i>full month label</i>', abbv: '<i>abbreviated month label</i>'},...]</td>
                        <td data-label="Default value" class="slds-cell-shrink">English full labels, empty abbreviation labels</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4 class="site-text-heading--large">Events</h4>
        <p>This table details the JavaScript events that trigger from user interaction.</p>
        <div class="slds-scrollable--x">
            <table class="slds-table slds-table--bordered slds-max-medium-table--stacked slds-no-row-hover slds-m-top--medium">
                <thead>
                    <tr class="site-text-heading--label">
                        <th scope="col">Event</th>
                        <th scope="col">Element</th>
                        <th scope="col">Trigger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><code>selected.aljs.datepicker</code></th>
                        <td data-label="Element">The <code>&lt;input&gt;</code> the datepicker is attached to</td>
                        <td data-label="Trigger">A user selects a date either by clicking a date on the datepicker or entering a valid date in the text input</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>