<div class="site-example--content slds-scrollable--x slds-tabs__content slds-show" role="tabpanel">
    <div class="slds-p-horizontal--medium">
        <h4 class="site-text-heading--large">Markup</h4>
<p class="slds-m-vertical--medium">An array of objects to be passed into the component is structured as below. The partial values should have associated Ember partials to render (e.g. a partial called "_tabOne" for the partial value "tabOne".</p>
{{#aljs-pre-container type="js"}}
var tabs: [
    {
        label: 'Tab 1',
        partial: 'tabOne'
    },
    {
        label: 'Tab 2',
        partial: 'tabTwo'
    }
]
{{/aljs-pre-container}}
<p class="slds-m-vertical--medium">The component can then be initialized with the new array object.</p>
{{#aljs-pre-container type="html"}}
&#123;&#123;aljs-simple-tabs tabObjects=tabs&#125;&#125;
{{/aljs-pre-container}}
        <h4 class="site-text-heading--large">Attribute Bindings</h4>
	    <p class="slds-m-top--medium">This table details the available attribute bindings for this Ember component.</p>
	    <div class="slds-scrollable--x">
	        <table class="slds-table slds-table--bordered slds-max-medium-table--stacked slds-no-row-hover slds-m-top--medium">
	            <thead>
	                <tr class="site-text-heading--label">
	                    <th scope="col">Attribute name</th>
	                    <th scope="col">Purpose</th>
	                    <th scope="col">Values</th>
	                    <th scope="col">Default value</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <th scope="row"><code>tabObjects</code></th>
	                    <td data-label="Purpose">An array of objects that define the tabs to display.</td>
	                    <td data-label="Values">An array of objects with <code>label</code> (unique) and <code>partial</code> properties</td>
	                    <td data-label="Default value" class="slds-cell-shrink"><code>null</code></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
    </div>
</div>