<div class="site-example--content slds-scrollable--x slds-tabs__content slds-show" role="tabpanel">
    <div class="slds-p-horizontal--medium">
        <h4 class="site-text-heading--large">Please use the jQuery plugin inside of Ember.</h4>
    </div>
</div> 