<header class="site-banner" role="banner">{{#link-to 'home' class="aljs-home-link" activeClass="slds-is-selected slds-is-active"}}<img src="images/aljs-icon.svg" class="aljs-icon"> Appiphony Lightning JS{{/link-to}}
</header>
<main class="site-main" role="main">
    <div class="site-content">
        {{outlet}}
    </div>
</main>
<nav id="navigation" class="site-navigation" role="navigation">
    <ul class="slds-list--vertical slds-has-block-links">
        {{#each section in sections}}
        	{{#link-to section.path tagName="li" class="slds-list__item" activeClass="slds-is-selected slds-is-active"}}<a href="#">{{section.name}}</a>{{/link-to}}
        {{/each}}
    </ul>
</nav>
<footer class="site-contentinfo slds-wrap site-text-longform slds-text-body--small" role="contentinfo">
    <p class="slds-col--padded slds-p-right--large">&copy; 2015 <a href="http://appiphony.com/" target="_blank">Appiphony</a>. All rights reserved. The Salesforce Sans Font is used under license from Salesforce.com, Inc.</p>
</footer>