{{aljs-header label="Changelog" icon="images/icon-changelog.svg"}}
{{#aljs-main-content}}
    <h2 class="site-text-heading--large">Release 0.1.1 — November 12, 2015</h2>
    <ul>
        <li>Fixed an issue where jQuery modals would sometimes not open when initialized on body</li>
    </ul>
    <h2 class="site-text-heading--large">Release 0.1 — October 30, 2015</h2>
    <ul>
        <li>Initial release</li>
        <li>Open sourced: <a href="https://github.com/appiphony/appiphony-lightning-js" target="_blank">https://github.com/appiphony/appiphony-lightning-js</a></li>
    </ul>
{{/aljs-main-content}}