{{aljs-header label="Changelog" icon="images/icon-changelog.svg"}}
{{#aljs-main-content}}
    <h2 class="site-text-heading--large">Release 0.1.2 — November 30, 2015</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
        <li><strong>Lookups</strong>: Lookups now properly populate when selecting a result on Safari/Firefox/IE 10 <a href="https://github.com/appiphony/appiphony-lightning-js/issues/9">(GitHub Issue #9)</a></li>
        <li><strong>Lookups</strong>: Updated single selected result markup to comply with 0.12.0 SLDS release</li>
        <li><strong>Lookups</strong>: Added an onChange option to run when a user selects a result</li>
        <li><strong>Lookups</strong>: Added an initialSelection option to set the selected result on load</li>
        <li><strong>Lookups</strong>: Added a setSelection method to programmatically set the selected result</li>
        <li><strong>Lookups</strong>: Added support for custom object icons and hiding icons from results markup <a href="https://github.com/appiphony/appiphony-lightning-js/issues/8">(GitHub Issue #8)</a></li>
        <li><strong>Modals</strong>: Updated backdrop markup to comply with 0.12.0 SLDS release</li>
        <li><strong>Tabs</strong>: Updated template classes to comply with 0.12.0 SLDS release</li>
        <li><strong>Tabs</strong>: Updated docs to comply with 0.12.0 SLDS release</li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">Ember</h4>
    <ul>
        <li><strong>Lookups</strong>: Added support for a custom icon URL and class</li>
        <li><strong>Lookups</strong>: Updated single selected result markup to comply with 0.12.0 SLDS release</li>
        <li><strong>Lookups</strong>: Added support to bind to a route's controller and fixed calling the search methods</li>
        <li><strong>Lookups</strong>: Added support for custom object icons and hiding icons from results markup <a href="https://github.com/appiphony/appiphony-lightning-js/issues/8">(GitHub Issue #8)</a></li>
        <li><strong>Modals</strong>: Updated backdrop markup to comply with 0.12.0 SLDS release</li>
        <li><strong>Modals</strong>: Added a show method to the jQuery call</li>
        <li><strong>Tabs</strong>: Updated template classes to comply with 0.12.0 SLDS release</li>
        <li><strong>Notifications</strong>: Added support to customize classes applied to the slds-notify div</li>
    </ul>
    <h2 class="site-text-heading--large">Release 0.1.1 — November 12, 2015</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
    	<li><strong>Datepickers</strong>: Multiple datepickers on a page now properly close each other <a href="https://github.com/appiphony/appiphony-lightning-js/issues/5">(GitHub Issue #5)</a></li>
        <li><strong>Datepickers</strong>: Added the ability to pass in an onChange callback function <a href="https://github.com/appiphony/appiphony-lightning-js/issues/4">(GitHub Issue #4)</a></li>
        <li><strong>Icon Group</strong>: New plugin</li>
        <li><strong>Modals</strong>: Modals now consistently open when initialized on the body <a href="https://github.com/appiphony/appiphony-lightning-js/issues/1">(GitHub Issue #1)</a></li>
        <li><strong>Modals</strong>: Set aria-hidden attribute to "true" by default</li>
        <li><strong>Modals</strong>: Programmatically dismissing/showing multiple modals now properly shows/hides the modal backdrop <a href="https://github.com/appiphony/appiphony-lightning-js/issues/2">(GitHub Issue #2)</a></li>
        <li><strong>Modals</strong>: Added onShown and onDismissed callbacks</li>
        <li><strong>Multi Selects</strong>: Changed multiPicklist function to multiSelect</li>
        <li><strong>Picklists</strong>: Keyup no longer causes the UI to scroll</li>
        <li><strong>Picklists</strong>: No longer focusing on the first element when no value is selected</li>
        <li><strong>Tabs</strong>: Added support for left and right key navigation</li>
        <li><strong>Tabs</strong>: Updated aria-selected and tabindex attributes to match SLDS requirements</li>
        <li><strong>Tooltips</strong>: Fixed tooltip line height when triggered from inside a button</li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">Ember</h4>
    <ul>
    	<li><strong>Checkboxes</strong>: Added a checkbox component</li>
    	<li><strong>Datepickers</strong>: Added a multi-range datepicker component</li>
        <li><strong>Datepickers</strong>: Custom month/day labels now properly work with datepickers</li>
        <li><strong>Datepickers</strong>: Clicking on the body properly closes a datepicker</li>
        <li><strong>Modals</strong>: Data attribute modal triggers now properly open/close modals</li>
        <li><strong>Modals</strong>: Added ability to customize modal body classes</li>
        <li><strong>Modals</strong>: Modals now properly work across different view states</li>
        <li><strong>Modals</strong>: Modals now properly close when triggered via a jQuery method</li>
        <li><strong>Modals</strong>: Updated the close button to use inverse class</li>  
        <li><strong>Multi Selects</strong>: Changed multi-picklist to multi-select</li>
        <li><strong>Notifications</strong>: Added support to designate UI elements to dismiss a notification</li>
        <li><strong>Tabs</strong>: Added support to specify the type of tabs class applied to the component</li>
        <li><strong>Tabs</strong>: Added support to bind the active tab to a property</li>
        <li><strong>Tabs</strong>: Added support for left and right key navigation</li>
        <li><strong>Tabs</strong>: Updated aria-selected and tabindex attributes to match SLDS requirements</li>
    </ul>
    <h2 class="site-text-heading--large">Release 0.1 — October 30, 2015</h2>
    <ul>
        <li>Initial release</li>
        <li>Open sourced: <a href="https://github.com/appiphony/appiphony-lightning-js" target="_blank">https://github.com/appiphony/appiphony-lightning-js</a></li>
    </ul>
{{/aljs-main-content}}