{{aljs-header label="Changelog" icon="images/icon-changelog.svg"}}
{{#aljs-main-content}}
    <h4 class="site-text-heading--large slds-m-bottom--xx-small">Version 0.1</h4>
    <div class="slds-card slds-theme--default slds-p-around--medium">
        <p class="slds-m-bottom--medium">Released October 30, 2015</p>
        <ul>
            <li>Initial release</li>
        </ul>
    </div>
{{/aljs-main-content}}