{{aljs-header label="Changelog" icon="images/icon-changelog.svg"}}
{{#aljs-main-content}}
    <h2 class="site-text-heading--medium">Release 3.1.0 — March 31, 2016</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">General</h4>
    <ul class="slds-m-bottom--small">
        <li>Updated Getting Started with instructions for utilizing <code>&lt;apex:slds/&gt;</code></li>
        <li>Updated documentation for Lookups to clarify use of options <a href="https://github.com/appiphony/appiphony-lightning-js/issues/63">[GitHub Issue #63]</a></li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
        <li><strong>Datepickers</strong>: Fixed an issue where manually clearing an input value selected from a datepicker does not call <code>onChange</code> or clear the datepicker's selection <a href="https://github.com/appiphony/appiphony-lightning-js/issues/58">[GitHub Issue #58]</a></li>
        <li><strong>Datepickers</strong>: Fixed an issue where placeholders in Safari are not removed when a selection is made <a href="https://github.com/appiphony/appiphony-lightning-js/issues/62">[GitHub Issue #62]</a></li>
        <li><strong>Datepickers</strong>: Added the <code>onShow</code> and <code>onDismiss</code> options <a href="https://github.com/appiphony/appiphony-lightning-js/issues/73">[GitHub Issue #73]</a></li>
        <li><strong>Datepickers</strong>: Added the <code>onSelect</code> option <a href="https://github.com/appiphony/appiphony-lightning-js/issues/74">[GitHub Issue #74]</a></li>
        <li><strong>Datepickers</strong>: Fixed an issue where the left and right arrow buttons would ignore the specified year range <a href="https://github.com/appiphony/appiphony-lightning-js/issues/75">[GitHub Issue #75]</a></li>
        <li><strong>Datepickers</strong>: Fixed an issue where an end date could not be set on initialization <a href="https://github.com/appiphony/appiphony-lightning-js/issues/77">[GitHub Issue #77]</a></li>
        <li><strong>Init</strong>: Added the <code>scopingClass</code> property with a default value of <code>slds-scope</code> <a href="https://github.com/appiphony/appiphony-lightning-js/issues/59">[GitHub Issue #59]</a> <a href="https://github.com/appiphony/appiphony-lightning-js/issues/79">[GitHub Issue #79]</a></li>
        <li><strong>Init</strong>: The <code>scoped</code> property's default is now <code>true</code></li>
        <li><strong>Lookups</strong>: Added support for arrow keys <a href="https://github.com/appiphony/appiphony-lightning-js/issues/61">[GitHub Issue #61]</a></li>
        <li><strong>Modals</strong>: Fixed an issue where modal backdrops are not dismissed if its modal is dismissed before fade-in animations complete <a href="https://github.com/appiphony/appiphony-lightning-js/issues/66">[GitHub Issue #66]</a></li>
        <li><strong>Multi Selects</strong>: The <code>setSelectedItems</code> and <code>setUnselectedItems</code> methods now accept an array of objects where item order can be explicitly defined <a href="https://github.com/appiphony/appiphony-lightning-js/issues/65">[GitHub Issue #65]</a></li>
        <li><strong>Picklists</strong>: Added support for new SLDS 2.2.0 picklist markup <a href="https://github.com/appiphony/appiphony-lightning-js/issues/68">[GitHub Issue #68]</a></li>
        <li><strong>Popovers</strong>: Added support for dynamically editing/disabling a text-based popover's content by updating the <code>data-aljs-title</code> attribute <a href="https://github.com/appiphony/appiphony-lightning-js/issues/72">[GitHub Issue #72]</a></li>
    </ul>
    <h2 class="site-text-heading--medium">Release 3.0.0 — December 5, 2016</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">General</h4>
    <ul class="slds-m-bottom--small">
        <li>Updated documentation for Multi Selects to reflect correct initialization <a href="https://github.com/appiphony/appiphony-lightning-js/issues/44">[GitHub Issue #44]</a></li>
        <li>Updated Getting Started with correct paths to ALJS resources <a href="https://github.com/appiphony/appiphony-lightning-js/issues/47">[GitHub Issue #47]</a></li>
        <li>Updated Getting Started with instructions for <code>jquery.aljs-all-with-moment.min.js</code></li>
        <li>Improvements to mobile navigation</li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
        <li><strong>All</strong>: Created the <code>jquery.aljs-all-with-moment.min.js</code> which includes all ALJS jQuery plugins with the Moment dependency</li>
        <li><strong>Datepickers</strong>: Updated plugin-generated markup to match SLDS 2.1.4's</li>
        <li><strong>Datepickers</strong>: Fixed an issue where the plugin would malfunction if an id of <code>month</code> already exists on the page</li>
        <li><strong>Datepickers</strong>: Default settings for the <code>abbr</code> properties of objects in the <code>dayLabels</code> array have been updated to match the Winter release</li>
        <li><strong>Init</strong>: The <code>scoped</code> property's default is now <code>false</code></li>
        <li><strong>Lookups</strong>: Updated plugin-generated markup to match SLDS 2.1.4's</li>
        <li><strong>Lookups</strong>: Fixed an issue where passing empty string on objectIconUrl did not hide the icon for a currently selected pill</li>
        <li><strong>Lookups</strong>: Default settings now use the <code>assetsLocation</code> property from init</li>
        <li><strong>Lookups</strong>: The <code>clickAddFunction</code> property is now <code>onClickNew</code>; "Add" is now "New"</li>
        <li><strong>Lookups</strong>: The 'Add' options is now 'New'</li>
        <li><strong>Lookups</strong>: Added the <code>searchDelay</code> option <a href="https://github.com/appiphony/appiphony-lightning-js/pull/50">[GitHub Pull Request #50; credit: OlegForce]</a></li>
        <li><strong>Lookups</strong>: Added the <code>recentLabel</code> option</li>
        <li><strong>Modals</strong>: Fixed an issue where <code>slds-show</code>/<code>slds-hide</code> classes would incorrectly be applied when using the <code>show</code> and <code>dismiss</code> methods</li>
        <li><strong>Modals</strong>: Fixed an issue where the <code>aria-hidden</code> attribute was not being updated properly</li>
        <li><strong>Modals</strong>: The <code>tabindex</code> attribute is now adjusted on the modal itself instead of its child elements</li>
        <li><strong>Notifications</strong>: Fixed an issue where notifications could not be dismissed due to an incorrect reference of the notification markup <a href="https://github.com/appiphony/appiphony-lightning-js/pull/55">[GitHub Pull Request #55; credit: vscuorzo]</a></li>
        <li><strong>Picklists</strong>: Now makes use of the <code>slds-is-open</code> class to show/hide dropdowns</li>
        <li><strong>Picklists</strong>: Added documentation for the <code>getValueId</code> method</li>
    </ul>
    <h2 class="site-text-heading--medium">Release 2.0.0 — July 29, 2016</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
        <li><strong>Datepickers</strong>: Added markup and functionality for the 'Today' link</li>
        <li><strong>Datepickers</strong>: Added the <code>todayLabel</code> option</li>
        <li><strong>Datepickers</strong>: Updated the name of the <code>abbv</code> property (for objects passed into the <code>dayLabels</code> and <code>monthLabels</code> options) to <code>abbr</code></li>
        <li><strong>Datepickers</strong>: Fixed an issue where clicking previous/next buttons to a new year did not update the select element's year <a href="https://github.com/appiphony/appiphony-lightning-js/issues/38">[GitHub Issue #38]</a></li>
        <li><strong>Datepickers</strong>: Fixed an issue where the <code>dayLabels</code> option was not appropriately updating the markup <a href="https://github.com/appiphony/appiphony-lightning-js/issues/43">[GitHub Issue #43]</a></li>
        <li><strong>Lookups</strong>: Updated dropdown and pill container markup/classes to comply with the SLDS 2.0.0 release</li>
        <li><strong>Lookups</strong>: Added <code>title</code> attributes for icons</li>
        <li><strong>Lookups</strong>: Added 'Typeahead' highlighting functionality</li>
        <li><strong>Lookups</strong>: Removed support for Multi Select Lookups (no longer supported by SLDS)</li>
        <li><strong>Lookups</strong>: Fixed an issue where Lookups were receiving incorrect classes for its separate states</li>
        <li><strong>Picklists</strong>: The <code>bindChoices</code> method is now publicly available and documented; allows you to bind dynamically added options <a href="https://github.com/appiphony/appiphony-lightning-js/issues/40">[GitHub Issue #40]</a></li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">Ember</h4>
    <ul>
        <li><strong>All</strong>: Ember is no longer supported</li>
    </ul>
    <h2 class="site-text-heading--medium">Release 1.0.0 — April 1, 2016</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
        <li><strong>All</strong>: Created the <code>jquery.aljs-all.min.js</code> which includes all ALJS jQuery plugins</li>
        <li><strong>Lookups</strong>: Updated <code>onChange</code> to reference <code>self.selectedResult</code> instead of <code>selectResult</code> <a href="https://github.com/appiphony/appiphony-lightning-js/issues/27">[GitHub Issue #27]</a></li>
        <li><strong>Lookups</strong>: <code>setSelection</code> now accepts an empty array or object to clear the Lookup <a href="https://github.com/appiphony/appiphony-lightning-js/issues/27">[GitHub Issue #27]</a></li>
        <li><strong>Lookups</strong>: Added additional functionality for <code>clickAddFunction</code> <a href="https://github.com/appiphony/appiphony-lightning-js/issues/35">[GitHub Issue #35]</a></li>
        <li><strong>Lookups</strong>: Fixed an issue where filtering produces an empty results container if <code>showSearch</code> and <code>clickAddFunction</code> settings are not used</li>
        <li><strong>Popovers</strong>: Refactored Popovers to accept new SLDS 1.0.0 Popover markup, including its BEM class modifiers <a href="https://github.com/appiphony/appiphony-lightning-js/issues/34">[GitHub Issue #34]</a></li>
        <li><strong>Tabs</strong>: Fixed an issue involving focus and keyup events when selecting tabs with the keyboard</li>
        <li><strong>Tabs</strong>: Added support for nested tabs <a href="https://github.com/appiphony/appiphony-lightning-js/issues/37">[GitHub Issue #37]</a></li>
        <li><strong>Tooltips</strong>: Plugin removed in favor of SLDS 1.0.0 Popover markup; see Popovers for new tooltip support <a href="https://github.com/appiphony/appiphony-lightning-js/issues/34">[GitHub Issue #34]</a></li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">Ember</h4>
    <ul>
        <li><strong>Datepickers</strong>: Added support for removing a selected date and setting a typed date on blur instead of just on enter</li>
        <li><strong>Lookups</strong>: Multi Select Lookups now prevent duplicates if user is allowed to enter new items and presses enter</li>
    </ul>
    <h2 class="site-text-heading--medium">Release 0.2.0 — February 10, 2016</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
        <li><strong>Lookups</strong>: Added a callback to the <code>emptySearchTermQuery</code> option's default function</li>
        <li><strong>Lookups</strong>: Updated pill container markup/classes to comply with the SLDS 0.12.0 release</li>
        <li><strong>Lookups</strong>: The <code>customObjectIcon</code> option is now <code>useImgTag</code>; <code>customObjectIcon</code> is no longer supported</li>
        <li><strong>Lookups</strong>: Added a <code>showSearch</code> option</li>
        <li><strong>Lookups</strong>: Fixed an issue where the Add Object button's icon was rendering too large</li>
        <li><strong>Modals</strong>: Fixed <code>tabindex</code> issues when modals are open</li>
        <li><strong>Picklists</strong>: Now close when the Esc key is pressed <a href="https://github.com/appiphony/appiphony-lightning-js/issues/20">[GitHub Issue #20]</a></li>
        <li><strong>Picklists</strong>: Fixed an error when the <code>getValue</code> method is used <a href="https://github.com/appiphony/appiphony-lightning-js/issues/31">[GitHub Issue #31]</a></li>
        <li><strong>Tooltips</strong>: Markup is now absolutely positioned with new position calculations; elements which trigger tooltips will no longer be wrapped in a relative-positioned span on hover</li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">Ember</h4>
    <ul>
        <li><strong>All</strong>: _AljsApp now defaults to "App" as the global namespace if none is defined</li>
        <li><strong>Datepickers</strong>: <code>selectedDateText</code> can now be bound</li>
        <li><strong>Datepickers</strong>: Changed single datepicker year picklist to a select element</li>
        <li><strong>Datepickers</strong>: Fixed scoping issues with some UI events</li>
        <li><strong>Datepickers</strong>: Added a <code>label</code> attribute binding</li>
        <li><strong>Datepickers</strong>: Added an <code>isRequired</code> attribute binding</li>
        <li><strong>Datepickers</strong>: Multi Select datepickers now highlight the correct selected dates (previously highlighted previous month sometimes as well) <a href="https://github.com/appiphony/appiphony-lightning-js/issues/28">[GitHub Issue #28]</a></li>
        <li><strong>Lookups</strong>: Added support to disable the lookup and bind a placeholder value <a href="https://github.com/appiphony/appiphony-lightning-js/issues/23">[GitHub Issue #23]</a></li>
        <li><strong>Lookups</strong>: Edited pill container markup/classes to comply with the SLDS 0.12.0 release <a href="https://github.com/appiphony/appiphony-lightning-js/issues/26">[GitHub Issue #26]</a></li>
        <li><strong>Lookups</strong>: The <code>isObjectIconCustom</code> parameter is now <code>useImgTag</code>; <code>isObjectIconCustom</code> is no longer supported</li>
        <li><strong>Lookups</strong>: Lookups now properly populate when selecting a result on Safari/Firefox/IE 10/IE 11 <a href="https://github.com/appiphony/appiphony-lightning-js/issues/9">[GitHub Issue #9]</a></li>
        <li><strong>Lookups</strong>: Multi select lookups are now properly binding to the <code>selectedResults</code> attribute; now allows multi select lookups to pass in just an array of text</li>
        <li><strong>Lookups</strong>: Added a <code>showSearch</code> attribute binding</li>
        <li><strong>Lookups</strong>: Added a <code>minimumSearchLength</code> attribute binding</li>
        <li><strong>Lookups</strong>: Added a <code>clearOnSelect</code> attribute binding</li>
        <li><strong>Lookups</strong>: Added an <code>allowNewItems</code> attribute binding</li>
        <li><strong>Lookups</strong>: Added a <code>tokenSeparators</code> attribute binding</li>
        <li><strong>Modals</strong>: Fixed <code>tabindex</code> issues when modals are open</li>
        <li><strong>Notifications</strong>: Added a <code>visible</code> attribute binding</li>
        <li><strong>Notifications</strong>: Added a <code>fadeDuration</code> attribute binding</li>
        <li><strong>Notifications</strong>: Added a <code>duration</code> attribute binding</li>
        <li><strong>Notifications</strong>: Added a <code>theme</code> attribute binding</li>
        <li><strong>Picklists</strong>: Now only sets selection if <code>picklistOption</code> exists (fixes a bug when an undefined value is passed in)</li>
        <li><strong>Picklists</strong>: Now close when the Esc key is pressed <a href="https://github.com/appiphony/appiphony-lightning-js/issues/20">[GitHub Issue #20]</a></li>
    </ul>
    <h2 class="site-text-heading--medium">Release 0.1.3 — December 2, 2015</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">General</h4>
    <ul class="slds-m-bottom--small">
        <li>Bower install name has been edited to <code>appiphony-lightning-js</code></li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
        <li><strong>Lookups</strong>: Default search when a list of items is passed in is now case insensitive <a href="https://github.com/appiphony/appiphony-lightning-js/issues/10">[GitHub Issue #10]</a></li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">Ember</h4>
    <ul>
        <li><strong>Lookups</strong>: Default search when a list of items is passed in is now case insensitive <a href="https://github.com/appiphony/appiphony-lightning-js/issues/10">[GitHub Issue #10]</a></li>
    </ul>
    <h2 class="site-text-heading--medium">Release 0.1.2 — November 30, 2015</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
        <li><strong>Lookups</strong>: Lookups now properly populate when selecting a result on Safari/Firefox/IE 10/IE 11 <a href="https://github.com/appiphony/appiphony-lightning-js/issues/9">[GitHub Issue #9]</a></li>
        <li><strong>Lookups</strong>: Updated single selected result markup to comply with the SLDS 0.12.0 release</li>
        <li><strong>Lookups</strong>: Added an <code>onChange</code> option to run when a user selects a result</li>
        <li><strong>Lookups</strong>: Added an <code>initialSelection</code> option to set the selected result on load</li>
        <li><strong>Lookups</strong>: Added a <code>setSelection</code> method to programmatically set the selected result</li>
        <li><strong>Lookups</strong>: Added support for custom object icons and hiding icons from results markup <a href="https://github.com/appiphony/appiphony-lightning-js/issues/8">[GitHub Issue #8]</a></li>
        <li><strong>Modals</strong>: Updated backdrop markup to comply with the SLDS 0.12.0 release</li>
        <li><strong>Tabs</strong>: Updated template classes to comply with the SLDS 0.12.0 release</li>
        <li><strong>Tabs</strong>: Updated docs to comply with the SLDS 0.12.0 release</li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">Ember</h4>
    <ul>
        <li><strong>Lookups</strong>: Added support for a custom icon URL and class</li>
        <li><strong>Lookups</strong>: Updated single selected result markup to comply with the SLDS 0.12.0 release</li>
        <li><strong>Lookups</strong>: Added support to bind to a route's controller and fixed calling the search methods</li>
        <li><strong>Lookups</strong>: Added support for custom object icons and hiding icons from results markup <a href="https://github.com/appiphony/appiphony-lightning-js/issues/8">[GitHub Issue #8]</a></li>
        <li><strong>Modals</strong>: Updated backdrop markup to comply with the SLDS 0.12.0 release</li>
        <li><strong>Modals</strong>: Added a <code>show</code> method to the jQuery call</li>
        <li><strong>Tabs</strong>: Updated template classes to comply with the SLDS 0.12.0 release</li>
        <li><strong>Notifications</strong>: Added support to customize classes applied to the <code>.slds-notify</code> div</li>
    </ul>
    <h2 class="site-text-heading--medium">Release 0.1.1 — November 12, 2015</h2>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">jQuery</h4>
    <ul class="slds-m-bottom--small">
    	<li><strong>Datepickers</strong>: Multiple datepickers on a page now properly close each other <a href="https://github.com/appiphony/appiphony-lightning-js/issues/5">[GitHub Issue #5]</a></li>
        <li><strong>Datepickers</strong>: Added the ability to pass in an <code>onChange</code> callback function <a href="https://github.com/appiphony/appiphony-lightning-js/issues/4">[GitHub Issue #4]</a></li>
        <li><strong>Icon Group</strong>: New plugin</li>
        <li><strong>Modals</strong>: Modals now consistently open when initialized on the body <a href="https://github.com/appiphony/appiphony-lightning-js/issues/1">[GitHub Issue #1]</a></li>
        <li><strong>Modals</strong>: Set aria-hidden attribute to <code>true</code> by default</li>
        <li><strong>Modals</strong>: Programmatically dismissing/showing multiple modals now properly shows/hides the modal backdrop <a href="https://github.com/appiphony/appiphony-lightning-js/issues/2">[GitHub Issue #2]</a></li>
        <li><strong>Modals</strong>: Added <code>onShown</code> and <code>onDismissed</code> callbacks</li>
        <li><strong>Multi Selects</strong>: Changed <code>multiPicklist</code> function to <code>multiSelect</code></li>
        <li><strong>Picklists</strong>: Keyup no longer causes the UI to scroll</li>
        <li><strong>Picklists</strong>: No longer focusing on the first element when no value is selected</li>
        <li><strong>Tabs</strong>: Added support for left and right key navigation</li>
        <li><strong>Tabs</strong>: Updated <code>aria-selected</code> and <code>tabindex</code> attributes to match SLDS requirements</li>
        <li><strong>Tooltips</strong>: Fixed tooltip line height when triggered from inside a button</li>
    </ul>
    <h4 class="slds-text-heading--small slds-m-bottom--x-small">Ember</h4>
    <ul>
    	<li><strong>Checkboxes</strong>: Added a checkbox component</li>
    	<li><strong>Datepickers</strong>: Added a multi-range datepicker component</li>
        <li><strong>Datepickers</strong>: Custom month/day labels now properly work with datepickers</li>
        <li><strong>Datepickers</strong>: Clicking on the body properly closes a datepicker</li>
        <li><strong>Modals</strong>: Data attribute modal triggers now properly open/close modals</li>
        <li><strong>Modals</strong>: Added ability to customize modal body classes</li>
        <li><strong>Modals</strong>: Modals now properly work across different view states</li>
        <li><strong>Modals</strong>: Modals now properly close when triggered via a jQuery method</li>
        <li><strong>Modals</strong>: Updated the close button to use inverse class</li>  
        <li><strong>Multi Selects</strong>: Changed multi-picklist to multi-select (plugin/component name)</li>
        <li><strong>Notifications</strong>: Added support to designate UI elements to dismiss a notification</li>
        <li><strong>Tabs</strong>: Added support to specify the type of tabs class applied to the component</li>
        <li><strong>Tabs</strong>: Added support to bind the active tab to a property</li>
        <li><strong>Tabs</strong>: Added support for left and right key navigation</li>
        <li><strong>Tabs</strong>: Updated <code>aria-selected</code> and <code>tabindex</code> attributes to match SLDS requirements</li>
    </ul>
    <h2 class="site-text-heading--medium">Release 0.1 — October 30, 2015</h2>
    <ul>
        <li>Initial release</li>
        <li>Open sourced: <a href="https://github.com/appiphony/appiphony-lightning-js" target="_blank">https://github.com/appiphony/appiphony-lightning-js</a></li>
    </ul>
{{/aljs-main-content}}