{{aljs-header label="Datepickers" icon="images/icon-datepicker.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Datepickers Documentation: <a class="slds-show slds-truncate" class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/datepickers" target="_blank">https://www.lightningdesignsystem.com/components/datepickers</a></p>
    {{aljs-demo-container label="Base" status="prototype" url="./demo-datepicker.html" iframeHeight="400"}}
    {{aljs-code-container routeName="datepickers" selectedSection=selectedSection}}
{{/aljs-main-content}}