{{aljs-header label="Getting Started" icon="images/icon-getting-started.svg"}}
{{#aljs-main-content}}
    <p class="site-text-introduction">Enabling Appiphony Lightning JS on your Visualforce pages is simple.</p>
    {{aljs-code-container routeName="gettingStarted" selectedSection=selectedSection}}
{{/aljs-main-content}}