{{aljs-header label="Getting Started" icon="images/icon-getting-started.svg"}}
{{#aljs-main-content}}
    <p class="site-text-introduction">Applying the Appiphony Lightning JS to your Visualforce pages is quick and easy.</p>
    {{view "aljs-code-container"}}
{{/aljs-main-content}}