{{aljs-header label="Getting Started" icon="images/icon-getting-started.svg"}}
{{#aljs-main-content}}
    <p class="site-text-introduction">Intro paragraph.</p>
    <p>Paragraph.</p>
    <h4 class="site-text-heading--label">Subhead</h4>
    <p>Paragraph.</p>
{{/aljs-main-content}}