<header class="site-masthead slds-grid aljs-home-header">
    <div class="slds-notify_container">
        <div class="slds-notify slds-notify--alert slds-theme--alert-texture js-notification show" role="alert">
            <button class="slds-button slds-notify__close slds-button--icon-inverse js-close-button" title="Close">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
            </button>
            <span class="slds-assistive-text">Strike by Appiphony</span>
            <h2>Working with Lightning Components? <a href="http://www.lightningstrike.io" target="_blank" class="strike-link">Check out Strike</a>, a set of components and tools made to speed up Lightning development.</h2>
        </div>
    </div>
    <div class="site-masthead-title slds-col slds-has-flexi-truncate slds-align-middle">
        <div class="slds-media__body aljs-header-container">
            <img src="images/aljs-logo.svg" class="aljs-logo">
            <h2 class="slds-p-top--large slds-text-heading--medium">Your jQuery Solution for the Lightning Design System</h2>
            <p class="slds-p-top--xx-large"><a class="slds-button slds-button--inverse" href="https://github.com/appiphony/appiphony-lightning-js/archive/master.zip">Download Latest</a> <a class="slds-button slds-button--inverse" href="https://github.com/appiphony/appiphony-lightning-js" target="_blank">Fork on GitHub</a></p>
            <p class="slds-p-top--medium"><strong>Current release:</strong> 3.1.0</p>
            <p class="slds-text-body--small"><em>Supported <a href="https://www.lightningdesignsystem.com/" target="_blank">SLDS</a> release: 2.2.2</em></p>
        </div>
    </div>
</header>
<div class="site-content aljs-site-content slds-p-around--xx-large site-design site-design-layout">
    {{!--<div class="slds-p-vertical--xx-large aljs-flavors">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-p-right--xx-large slds-size--1-of-1 slds-large-size--1-of-4">
                <h2 class="slds-text-heading--medium slds-m-top--xx-small">Available in Two Flavors</h2>
                <p class="slds-p-vertical--medium">Appiphony Lightning JS (ALJS) harnesses the power of jQuery and Ember to deliver a rich JavaScript experience to the <a href="http://www.lightningdesignsystem.com/" target="_blank">Lightning Design System</a>.</p>
            </div>
            <div class="slds-col slds-size--1-of-1 slds-large-size--3-of-4">
                <div class="site-resources--landing slds-p-vertical--xx-small">
                    <ul class="slds-grid slds-wrap slds-grid--align-spread slds-grid--pull-padded-large">
                        <li class="slds-col--padded-large slds-size--1-of-1 slds-large-size--1-of-2">
                            <div class="grid-card">
                                <a href="http://jquery.com/" target="_blank"><img src="images/jquery-logo.svg" class="jquery-logo"></a>
                                <hr class="hr hr--blue">
                                <p>jQuery is a fast, small, and feature-rich JavaScript library. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.</p>
                            </div>
                        </li>
                        <li class="slds-col--padded-large slds-size--1-of-1 slds-large-size--1-of-2">
                            <div class="grid-card">
                                <a href="http://emberjs.com/" target="_blank"><img src="images/ember-logo.svg" class="ember-logo"></a>
                                <hr class="hr hr--orange">
                                <p>Ember.js helps developers be more productive out of the box. Designed with developer ergonomics in mind, its friendly APIs help you get your job done—fast.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>--}}
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size--1-of-1 slds-large-size--1-of-4 slds-p-right--xx-large">
            <h3 class="slds-text-heading--small slds-m-top--xx-small slds-m-bottom--medium">Credits</h3>
            <p class="slds-text-body--small">ALJS is developed and maintained by <a href="http://appiphony.com/" target="_blank">Appiphony</a>.</p>
            <h3 class="slds-text-heading--small slds-m-top--x-large slds-m-bottom--medium">Support &amp; Contribution</h3>
            <p class="slds-text-body--small">Feedback, questions, and bugs can be posted on the <a href="https://github.com/appiphony/salesforce-lightning-javascript-toolkit" target="_blank">ALJS GitHub repository</a>. Pull requests will be carefully considered for open issues or proposed enhancements.</p>
        </div>
        <div class="slds-col slds-size--1-of-1 slds-large-size--3-of-4 slds-p-right--xx-large">
            <h3 class="slds-text-heading--small slds-m-top--xx-small slds-m-bottom--medium">License</h3>
            <p class="slds-text-body--small">The ALJS source code is licensed under the <a href="http://opensource.org/licenses/BSD-2-Clause" target="_blank">BSD 2-Clause License</a></p>
            <div class="slds-text-longform slds-m-top--small">
                <p class="slds-text-body--small">Copyright &copy; 2016, Appiphony<br>
                    All rights reserved.</p>
                <p class="slds-text-body--small">Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>
                <ul class="slds-text-body--small slds-m-vertical--medium">
                    <li>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</li>
                    <li>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</li>
                </ul>
                <p class="slds-text-body--small">This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.</p>
            </div>
        </div>
    </div>
</div>