<header class="site-masthead slds-grid aljs-home-header">
    <div class="site-masthead-title slds-col slds-has-flexi-truncate slds-align-middle">
        <div class="slds-media__body aljs-header-container">
            <img src="images/aljs-logo.svg" class="aljs-logo">
            <h2 class="slds-p-top--large slds-text-heading--medium">Your JS Solution for the Lightning Design System</h2>
            <p class="slds-p-top--xx-large"><a class="slds-button slds-button--inverse" href="#">Download Latest</a> <a class="slds-button slds-button--inverse" href="#">Fork on GitHub</a></p>
            <p class="slds-p-top--medium"><strong>Current release:</strong> 0.0.1</p>
        </div>
    </div>
</header>
<div class="site-content slds-p-around--xx-large site-design site-design-layout">
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-p-right--xx-large slds-size--1-of-1 slds-large-size--1-of-4">
            <h2 class="slds-text-heading--medium slds-m-top--xx-small">Available in Two Flavors</h2>
            <p class="slds-p-vertical--medium">Appiphony Lightning JS (ALJS) harnesses the power of jQuery and Ember to deliver a rich JavaScript experience to the <a href="http://www.lightningdesignsystem.com" target="_blank">Lightning Design System</a>.</p>
        </div>
        <div class="slds-col slds-size--1-of-1 slds-large-size--3-of-4">
            <div class="site-resources--landing slds-p-vertical--xx-small">
                <ul class="slds-grid slds-wrap slds-grid--align-spread slds-grid--pull-padded-large">
                    <li class="slds-col--padded-large slds-size--1-of-1 slds-large-size--1-of-2">
                        <div class="grid-card">
                            <img src="images/jquery-logo.svg" class="jquery-logo">
                            <hr class="hr hr--blue">
                            <p>jQuery is a fast, small, and feature-rich JavaScript library. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.</p>
                        </div>
                    </li>
                    <li class="slds-col--padded-large slds-size--1-of-1 slds-large-size--1-of-2">
                        <div class="grid-card">
                            <img src="images/ember-logo.svg" class="ember-logo">
                            <hr class="hr hr--orange">
                            <p>Ember.js helps developers be more productive out of the box. Designed with developer ergonomics in mind, its friendly APIs help you get your job done—fast.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>