{{aljs-header label="Icon Groups" icon="images/icon-icon-group.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Icon Group Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/button-groups/#flavor-icon-group" target="_blank">https://www.lightningdesignsystem.com/components/button-groups/#flavor-icon-group</a></p>
    {{aljs-demo-container label="Base" url="./demo-icon-group.html" iframeHeight="44"}}
    {{aljs-code-container routeName="iconGroups" selectedSection=selectedSection}}
{{/aljs-main-content}}