{{aljs-header label="Lookups" icon="images/icon-lookup.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Lookups Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/lookups" target="_blank">https://www.lightningdesignsystem.com/components/lookups</a></p>
    {{aljs-demo-container label="Base" url="./demo-lookup.html" iframeHeight="442"}}
    {{!--<p class="slds-m-bottom--xx-large">The following documentation also covers <strong>Single Scope</strong> and <strong>Multi Select</strong> lookup types.</p>--}}
    {{aljs-code-container routeName="lookups" selectedSection=selectedSection}}
{{/aljs-main-content}}