{{aljs-header label="Lookups" icon="images/icon-lookup.svg"}}
{{#aljs-main-content}}
    <p class="site-text-introduction">Intro paragraph.</p>
    <p>Paragraph.</p>
    <h4 class="site-text-heading--label">Subhead</h4>
    <p>Paragraph.</p>
    {{aljs-demo-container label="Base" status="prototype" url="./demo-lookup-1.html" iframeHeight="400"}}

    {{view "aljs-code-container"}}
{{/aljs-main-content}}