{{aljs-header label="Modals" icon="images/icon-modal.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Modals Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/modals" target="_blank">https://www.lightningdesignsystem.com/components/modals</a></p>
    {{aljs-demo-container label="Base" url="./demo-modal.html" iframeHeight="340"}}
    {{aljs-code-container routeName="modals" selectedSection=selectedSection}}
    <p class="slds-m-top--xx-large">ALJS documentation for <strong>Taglines</strong>, <strong>Large</strong>, and <strong>Directional</strong> match those of default tabs. Please see the <a href="https://www.lightningdesignsystem.com/components/modals" target="_blank">SLDS documentation for modals</a> for CSS class information for these variants.</p>
{{/aljs-main-content}}