{{aljs-header label="Multi Selects" icon="images/icon-multi-select.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Multi Selects Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/forms/#flavor-multi-select" target="_blank">https://www.lightningdesignsystem.com/components/forms/#flavor-multi-select</a></p>
    {{aljs-demo-container label="Multi-Select" url="./demo-multi-select.html" iframeHeight="272"}}
    {{aljs-code-container routeName="multi-selects" selectedSection=selectedSection}}
{{/aljs-main-content}}