{{aljs-header label="Notifications" icon="images/icon-notification.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Notifications Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/notifications" target="_blank">https://www.lightningdesignsystem.com/components/notifications</a></p>
    {{aljs-demo-container label="Base" url="./demo-notification.html" iframeHeight="152"}}
    {{aljs-code-container routeName="notifications" selectedSection=selectedSection}}
{{/aljs-main-content}}