Picklists
<footer class="site-resources--landing slds-p-vertical--small">
    <ul class="slds-grid slds-wrap slds-grid--align-spread slds-grid--pull-padded-large">
        <li class="slds-col--padded-large slds-size--1-of-1 slds-large-size--1-of-2">
            <div class="grid-card">
                <div class="slds-grid slds-grid--align-spread">
                    <h3 class="site-text-heading--label-weak-large slds-align-middle" id="downloads-header">jQuery</h3>
                </div>
                <hr class="hr hr--pink">
                <iframe src="./demo-picklist-2.html"></iframe>
            </div>
        </li>
        <li class="slds-col--padded-large slds-size--1-of-1 slds-large-size--1-of-2">
            <div class="grid-card">
                <div class="slds-grid slds-grid--align-spread">
                    <h3 class="site-text-heading--label-weak-large slds-align-middle" id="tutorials-header">Ember (Coming Soon)</h3></div>
                <hr class="hr hr--orange">
                <p>Blah blah blah</p>
            </div>
        </li>
    </ul>
</footer>