{{aljs-header label="Picklists"}}
{{#aljs-main-content}}
    <p class="site-text-introduction">Intro paragraph.</p>
    <p>Paragraph.</p>
    <h4 class="site-text-heading--label">Subhead</h4>
    <p>Paragraph.</p>
    {{aljs-demo-container label="Base" status="prototype" url="./demo-picklist-1.html" iframeHeight="300"}}

    {{view "aljs-code-container"}}
{{/aljs-main-content}}