{{aljs-header label="Picklists" icon="images/icon-picklist.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Picklist Documentation: <a href="https://www.lightningdesignsystem.com/components/picklists" target="_blank">https://www.lightningdesignsystem.com/components/picklists</a></p>
    {{aljs-demo-container label="Base" status="prototype" url="./demo-picklist-1.html" iframeHeight="202"}}
    {{view "aljs-code-container"}}
{{/aljs-main-content}}