{{aljs-header label="Picklists" icon="images/icon-picklist.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Picklist Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/picklist" target="_blank">https://www.lightningdesignsystem.com/components/picklist</a></p>
    {{aljs-demo-container label="Base" url="./demo-picklist.html" iframeHeight="256"}}
    {{aljs-code-container routeName="picklists" selectedSection=selectedSection}}
{{/aljs-main-content}}