{{aljs-header label="Pills" icon="images/icon-pill.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Pills Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/pills" target="_blank">https://www.lightningdesignsystem.com/components/pills</a></p>
    {{aljs-demo-container label="Base" url="./demo-pill.html" iframeHeight="36"}}
    {{aljs-code-container routeName="pills" selectedSection=selectedSection}}
{{/aljs-main-content}}