{{aljs-header label="Popovers/Tooltips" icon="images/icon-popover.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Popovers/Tooltips Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/popovers" target="_blank">https://www.lightningdesignsystem.com/components/popovers</a></p>
    {{aljs-demo-container label="Base" url="./demo-popover.html" iframeHeight="165"}}
    {{aljs-code-container routeName="popovers" selectedSection=selectedSection}}
    <p class="slds-m-top--xx-large">ALJS Popovers currently do not support markup for <strong>Panels</strong>.</p>
{{/aljs-main-content}}