{{aljs-header label="Popovers" icon="images/icon-popover.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Popovers Documentation: <a href="https://www.lightningdesignsystem.com/components/popovers" target="_blank">https://www.lightningdesignsystem.com/components/popovers</a></p>
    {{aljs-demo-container label="Base" status="prototype" url="./demo-popover-1.html" iframeHeight="220"}}
    {{view "aljs-code-container"}}
{{/aljs-main-content}}