{{aljs-header label="Popovers" icon="images/icon-popover.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Popovers Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/popovers" target="_blank">https://www.lightningdesignsystem.com/components/popovers</a></p>
    {{aljs-demo-container label="Base" status="prototype" url="./demo-popover.html" iframeHeight="220"}}
    {{aljs-code-container routeName="popovers" selectedSection=selectedSection}}
{{/aljs-main-content}}