<header class="site-masthead slds-grid">
    <div class="site-masthead-title slds-col slds-has-flexi-truncate slds-align-middle">
        <div class="slds-media__body">
            <div class="slds-grid">
                <h1 title="Appiphony Lightning JS" class="slds-p-left--large">Popovers</h1></div>
        </div>
    </div>
</header>
<div class="site-content slds-p-around--xx-large site-design site-design-layout">
Test
</div>
<div class="site-resources--landing slds-p-vertical--small">
    <ul class="slds-grid slds-wrap slds-grid--align-spread slds-grid--pull-padded-large">
        <li class="slds-col--padded-large slds-size--1-of-1 slds-large-size--1-of-2">
            <div class="grid-card">
                <div class="slds-grid slds-grid--align-spread">
                    <h3 class="site-text-heading--label-weak-large slds-align-middle" id="downloads-header">jQuery</h3></div>
                <hr class="hr hr--pink">
                <p>Blah blah blah</p><a class="slds-button slds-button--neutral slds-m-top--large" href="#">Download</a></div>
        </li>
        <li class="slds-col--padded-large slds-size--1-of-1 slds-large-size--1-of-2">
            <div class="grid-card">
                <div class="slds-grid slds-grid--align-spread">
                    <h3 class="site-text-heading--label-weak-large slds-align-middle" id="tutorials-header">Ember (Coming Soon)</h3></div>
                <hr class="hr hr--orange">
                <p>Blah blah blah</p>
            </div>
        </li>
    </ul>
</div>