{{aljs-header label="Tabs" icon="images/icon-tab.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Tabs Documentation: <a href="https://www.lightningdesignsystem.com/components/tabs" target="_blank">https://www.lightningdesignsystem.com/components/tabs</a></p>
    {{aljs-demo-container label="Base" status="prototype" url="./demo-tabs.html" iframeHeight="108"}}
    {{aljs-code-container routeName="tabs" selectedSection=selectedSection}}
{{/aljs-main-content}}