{{aljs-header label="Tabs" icon="images/icon-tab.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Tabs Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/tabs" target="_blank">https://www.lightningdesignsystem.com/components/tabs</a></p>
    {{aljs-demo-container label="Base" url="./demo-tabs.html" iframeHeight="108"}}
    {{aljs-code-container routeName="tabs" selectedSection=selectedSection}}
    <p class="slds-m-top--xx-large">ALJS documentation for <strong>Scoped Tabs</strong> match those of default tabs. Please see the <a href="https://www.lightningdesignsystem.com/components/tabs" target="_blank">SLDS documentation for tabs</a> for CSS class information on this variant.</p>
{{/aljs-main-content}}