{{aljs-header label="Tabs" icon="images/icon-tab.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Tabs Documentation: <a href="https://www.lightningdesignsystem.com/components/tabs" target="_blank">https://www.lightningdesignsystem.com/components/tabs</a></p>
    {{aljs-demo-container label="Base" status="prototype" url="./demo-tabs-1.html" iframeHeight="400"}}
    {{view "aljs-code-container"}}
{{/aljs-main-content}}