{{aljs-header label="Tooltips" icon="images/icon-tooltip.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Tooltips Documentation: <a href="https://www.lightningdesignsystem.com/components/tooltips" target="_blank">https://www.lightningdesignsystem.com/components/tooltips</a></p>
    {{aljs-demo-container label="Base" status="prototype" url="./demo-tooltip.html" iframeHeight="140"}}
    {{aljs-code-container routeName="tooltips" selectedSection=selectedSection}}
{{/aljs-main-content}}