{{aljs-header label="Tooltips" icon="images/icon-tooltip.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Tooltips Documentation: <a class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/popovers#tooltips" target="_blank">https://www.lightningdesignsystem.com/components/popovers#tooltips</a></p>
    {{aljs-demo-container label="Base" url="./demo-tooltip.html" iframeHeight="140"}}
    {{aljs-code-container routeName="tooltips" selectedSection=selectedSection}}
{{/aljs-main-content}}