<header class="site-masthead slds-grid">
    <div class="site-masthead-title slds-col slds-no-flex slds-align-middle">
        <div class="slds-media__body">
            <div class="slds-grid">
                <h1 title="Appiphony Lightning JS" class="slds-p-left--large">{{#if icon}}<img {{bind-attr src="icon"}} class="aljs-section-icon">{{/if}}<span class="aljs-section-title">{{label}}</span></h1></div>
        </div>
    </div>
</header>