<header class="site-masthead slds-grid">
    <div class="site-masthead-title slds-col slds-has-flexi-truncate slds-align-middle">
        <div class="slds-media__body">
            <div class="slds-grid">
                <h1 title="Appiphony Lightning JS" class="slds-p-left--large">{{label}}</h1></div>
        </div>
    </div>
</header>