<h2 class="slds-p-top--xx-large site-text-heading--large site-text-heading--callout site-jump-anchor__container slds-m-bottom--medium" type="h2"><span id="base" class="site-text-heading--large site-text-heading--callout">{{label}}</span>{{#if status}}<span class="slds-badge slds-m-left--medium slds-shrink-none slds-align-middle">{{status}}</span>{{/if}}</h2>
<div class="slds-tabs--default">
    {{!--<ul class="slds-tabs--default__nav" role="tablist">
        <li class="slds-tabs__item slds-text-heading--label slds-active" aria-controls="iframe-1" aria-describedby="components-picklists-base" content="[object Object]" role="presentation">
            <a tabindex="0" aria-selected="true">
                <svg aria-hidden="true" class="slds-icon icon__svg icon-utility-desktop slds-icon--x-small slds-icon-text-default slds-m-right--x-small">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/utility-sprite/svg/symbols.svg#desktop"></use>
                </svg>
                Large
            </a>
        </li>
    </ul>--}}
    <div id="iframe-1" class="site-example--content slds-m-bottom--xx-large slds-scrollable--x slds-tabs__content slds-show" role="tabpanel">
        <iframe {{bind-attr src="url" height="iframeHeight"}} name="components-picklists-base" data-form-factor="desktop" scrolling="no" class="slds-p-horizontal--medium"></iframe>
    </div>
</div>