{{#if label}}<label class="slds-form-element__label" for="{{unbound labelFor}}" {{bind-attr data-qa-label="label"}}>{{label}}</label>{{/if}}
<div class="slds-form-element__control">
    {{yield}}
</div>